[2014-04-13 07:20] ihnlaoyao opened #1 "都有哪些词性标注集可选？"
你好！很高兴你能提供支持Python3的NLPIR。你在doc中给出的例子，执行结果为：
[('欢迎', 'verb'), ('科研', 'noun'), ('人员', 'noun'), ('、', 'punctuation mark:enumeration comma'), ('技术', 'noun'), ('工程师', 'noun'), ('、', 'punctuation mark:enumeration comma'), ('企事业', 'noun'), ('单位', 'noun'), ('与', 'conjunction:coordinating conjunction'), ('个人', 'noun'), ('参与', 'verb'), ('NLPIR', 'noun'), ('平台', 'noun'), ('的', 'particle:particle 的/底'), ('建设

[2014-04-13 22:56] #1 closed, assigned to nobody

[2014-04-18 13:04] takashiki opened #2 "文本中有空格的情况下若分词时选择标注词性，会出现越界错误"
Traceback (most recent call last):
  File "main.py", line 29, in <module>
    words = pynlpir.segment(text)
  File "D:\Program Files\Python27\lib\site-packages\pynlpir-0.1.1-py2.7.egg\pynlpir__init__.py", line 165, in segment
    _get_pos_name(token[1], pos_names, pos_english))
IndexError: tuple index out of range

[2014-04-18 14:19] takashiki opened #3 "通过open方法修改encoding后不会改变_decode方法中encoding参数的值"
我测试了一下，全局变量ENCODING确实改变了，但是_decode(s, encoding=ENCODING)
中传入的encoding的值仍然为原本的值，python版本为2.7

[2014-04-18 21:41] #3 closed, assigned to nobody

[2014-04-19 03:38] #2 closed, assigned to tsroten

[2014-06-11 07:51] tsroten opened #4 "Typo in docs welcome page"
On the docs welcome page, "Chinese" is misspelled:

[code]

[2014-06-11 08:30] aRe00t opened #5 "An INIT Error in PyNLPIR"
It will throw an exception from __init__.py when import pynlpir.
Line 76: raise RuntimeError("NLPIR function 'NLPIR_Init' failed.")

The problem seems due to the NLPIR library which the package wraps. I have viewed the offical notice of nlpir, the author said the license of version 20140324 is expired, the new version will soon release, and non-commercial user could get a temporary license of thre

[2014-06-11 09:00] tsroten opened #6 "Customizable License Code"
`pynlpir.open` lacks a `license_code` argument. Users are forced to use the `ctypes` interface if they want to specify a license. We should add a `license_code` keyword argument to `pynlpir.open` that defaults to `None`.

[2014-06-11 10:27] aRe00t opened #7 "double-slash(//) in text will raise exception"
if the text has double-slash(//), program will throw "UnboundLocalError: local variable 'pos_entry' referenced before assignment".

An example: 转发微博 //@张明明:霸气全露

Suggestion:
change line 175 in __init__.py to:
token = tuple(t.rsplit('/', 1))

[2014-06-11 13:20] #4 closed, assigned to tsroten

[2014-06-11 13:30] #6 closed, assigned to tsroten

[2014-06-12 13:09] #5 closed, assigned to tsroten

[2014-06-12 13:30] #7 closed, assigned to nobody

[2014-06-16 05:52] tsroten opened #8 "Missing comma on ``pos_map.py``"
@hunkyguy [pointed out that `pos_map.py` is missing a comma](https://github.com/tsroten/pynlpir/commit/74bc9e0a46ab7412ed0711bee70ba775675bf232#commitcomment-6674708) in one of the tuple pairs.

[2014-06-16 05:53] #8 closed, assigned to tsroten

[2014-06-18 10:06] terry2tan opened #9 "get_key_words issue"
Hi,

I was using the get_key_words function, just found a bug. Sometimes, the text was short, then there were no keywords, so the value "fresult" is empty, then we can't split an empty string.

add a judgement may solve this problem.

anyway, THX for your tool~

[2014-06-20 03:27] #9 closed, assigned to tsroten

[2014-08-07 11:57] 668 opened #10 "ValueError: part of speech not recognized: 'Rg'."
for this text:
text = "电影里阿斯顿·马丁DB5最终的结局是被反派席尔瓦炸毁，令我扼腕叹息，庆幸的是，这部DB5并不是“货真价实”的真家伙，不然DB5的存世名单里又将少了一位。"
pynlpir.segment(text)

got the error: ValueError: part of speech not recognized: 'Rg'.  that means: no key "Rg" in POS_MAP dictionary?

thanks!

[2014-10-18 02:35] tomqyp opened #11 "get_key_words crash"
when nlpir.GetKeyWords return a empty string, get_key_words will be crash,like this.

/usr/lib/python2.7/site-packages/pynlpir/**init**.pyc in get_key_words(s, max_words, weighted)
    217         weights, words = [], []
    218         for w in fresult:
--> 219             word, pos, weight = w.split('/')
    220             weight = _to_float(weight)
    221             weights.append(weight or

[2014-12-12 04:04] lucosax opened #12 "I find a bug when I install pynlpir by pip-install on Mac OS X"
Downloading/unpacking pynlpir
  Downloading PyNLPIR-0.1.3.tar.gz (12.7MB): 12.7MB downloaded
  Running setup.py (path:/private/tmp/pip_build_root/pynlpir/setup.py) egg_info for package pynlpir
    Traceback (most recent call last):
      File "<string>", line 17, in <module>
      File "/private/tmp/pip_build_root/pynlpir/setup.py", line 12, in <module>
        import pynlpir
      File "pynlpir/*

[2014-12-13 07:57] lucosax opened #13 "Aha，I think I will be a bug-finder.....I find another bug..."
In [1]: import pynlpir

In [2]: str=u"传闻称，陈学冬情系郭敬明，两人关系是同性关系，难道这是真的？空穴来风必有因，既然传闻有了，也就有可能，不排除陈学冬就是喜欢郭敬明呢。板直一个人，还挺难的，如果宋佳真的喜欢陈学冬，就看看能不能板直他了。"

In [3]: pynlpir.segment(str)
段错误 (core dumped)
[root@namenode lucosax]#

:(...

Notice:this time,the OS is CentOS ,not my MAC,:)
Thanks!

[2014-12-16 02:44] baojie opened #14 "fail to install on 32bit Ubuntu Linux"
[code]

[2014-12-17 05:28] ghost opened #15 "RuntimeError: NLPIR function 'NLPIR_Init' failed."
Traceback (most recent call last):
  File "<pyshell#1>", line 1, in <module>
    pynlpir.open()
  File "D:\Python27\lib\site-packages\pynlpir__init__.py", line 80, in open
    raise RuntimeError("NLPIR function 'NLPIR_Init' failed.")
RuntimeError: NLPIR function 'NLPIR_Init' failed.

[2014-12-18 00:33] tsroten opened #16 "Typo in docs/api.rst"
In `docs/api.rst`, `ValueError` is incorrectly associated with an API initialization error. This should read `RuntimeError`.

[2014-12-18 00:36] #12 closed, assigned to nobody

[2014-12-18 02:24] #11 closed, assigned to tsroten

[2014-12-18 02:24] #15 closed, assigned to tsroten

[2014-12-18 02:25] #14 closed, assigned to tsroten

[2014-12-18 02:33] #10 closed, assigned to tsroten

[2014-12-18 03:21] #16 closed, assigned to tsroten

[2014-12-18 03:55] tsroten opened #17 "Part of Speech Map changed in 2015 NLPIR"
The current part of speech map in `pos_map.py` needs to be updated for the 2015 NLPIR release that is now bundled with PyNLPIR.

[2014-12-18 04:56] #17 closed, assigned to tsroten

[2014-12-25 21:48] #13 closed, assigned to nobody

[2015-01-02 13:17] Anchor89 opened #18 "RuntimeError: NLPIR function NLPIR_Init failed"
Hi there,

Happy new year :)

Here is the problem I met:

After 2015-01-01, all invoke to pynlpir.open() will raise following error:

I tried to install the latest code and then tried to install the code after replacing *.so files, the same error still been raised.

My env is CentOS 6.4 64bits. Python 2.6.

=====================
**Update as solved**:
Data directory should also be updated.

[2015-01-02 15:17] #18 closed

[2015-01-02 23:30] tsroten commented on #18
@Anchor89 Thanks for pointing this problem out. It looks like there is a new release of NLPIR as of a few days ago. Whenever a new release is published, the current version ceases to work. That's why you were receiving that error message. PyNLPIR's `develop` branch now includes the newest version of NLPIR. I will publish it to PyPI shortly.

[2015-01-30 22:58] tsroten opened #19 "pynlpir.open inline documentation and sphinx documentation missing ValueError"
`pynlpir.open`'s inline documentation is missing any note about what a `ValueError` means when it is raised.

The [Sphinx documentation](http://pynlpir.readthedocs.org/en/latest/api.html#pynlpir.open) incorrectly describes the `ValueError` (what it describes is `RuntimeError`). Its  '`ValueError`' should be renamed `'RuntimeError`' and the correct `ValueError` description should be added, just lik

[2015-03-19 03:22] lijianbo0130 opened #20 "Unrecognized POS key"
u'\u7ea2\u70e7\u8089'
Traceback (most recent call last):
  File "C:\Users\asus\workspace\py2\src\NLP\np\�ִ�.py", line 23, in <module>
    b=pynlpir.segment(s)
  File "C:\Python27\lib\site-packages\pynlpir\__init__.py", line 183, in segment
    pos_name = _get_pos_name(token[1], pos_names, pos_english)
  File "C:\Python27\lib\site-packages\pynlpir\__init__.py", line 129, in _get_pos_name
    pos_na

[2015-03-19 09:58] tsroten opened #21 "Outdated link in docs"
In [The Rest of the NLPIR Functions](http://pynlpir.readthedocs.org/en/latest/tutorial.html#the-rest-of-the-nlpir-functions) section of the tutorial, the link to the NLPIR/ICTCLAS download page is outdated. It should be updated to the most recent NLPIR version.

[2015-03-19 10:47] tsroten commented on #20
Thanks for reporting this bug. It seems like NLPIR is returning an undocumented part of speech code (I can't find any indication what `gms` might mean). In cases like this, the part of speech should be set to `None`. I'll commit a fix for this shortly.

[2015-03-19 12:19] #20 closed

[2015-03-19 13:19] lijianbo0130 commented on #20
thank you!

[2015-04-10 00:29] fairsky66 opened #22 "encode/decode error"
When I was trying to test this package with using the example you provide, I got error as following:
*UnicodeDecodeError: 'utf8' codec can't decode bytes in position 0-1: invalid continuation byte*

I was working with the package in both windows8 and Ubuntu 15 (but in a VM). Both gave me the same error.

[2015-04-11 05:40] fairsky66 commented on #22
@tsroten Hi, it seemed ok if I rewrote the code in pycharm. Though it did not work if I wrote it in sublime text and saving it in utf8 format. So, i think this is not nlpir relevant, but editor.

I will post any issue or incompatibility here if I found in future.

Cheers,

[2015-04-11 05:40] #22 closed

[2015-04-11 10:36] JTKBowers opened #23 "Crash on key word generation"
When the `get_key_words function` is called with weights enabled, certain sentences will cause errors.
OS: Ubuntu server 14.10, but the error is probably non os-specific.
[code]

[2015-04-11 18:07] tsroten commented on #23
@JTKBowers Thanks for reporting this bug. It seems that NLPIR occasionally likes to mix up it's return value structure. Note the difference in the log messages between the two function calls:
[code]

Normally NLPIR's `GetKeyWords` function returns key words like this:
[code]
This tells us the word, part of speech, weight, and number of occurrences. However, with your sentence, the following is ret

[2015-04-11 18:09] tsroten commented on #22
@fairsky66 Okay, thanks for the update. Best of luck in your coding endeavors!

[2015-04-13 10:00] tsroten commented on #23
@JTKBowers This issue is now fixed in the `develop` branch.

[2015-04-13 10:00] #23 closed

[2015-04-28 10:37] dadanicholas commented on #18
cant install pynlpir by using pip or easy_install

[2015-04-28 11:45] tsroten commented on #18
@dadanicholas I'm having trouble replicating your problem. Could you open up a new issue and report any error messages you might be receiving?

[2015-05-05 10:33] risent opened #24 "ValueError: part of speech not recognized: 'grjyy'"
[code]

[code]

[2015-05-07 01:33] tsroten commented on #24
Thank you for reporting this. #20 addresses this already. A fix has been committed, but hasn't been published on PyPI yet. Stay tuned for a new release soon.

[2015-05-07 01:33] #24 closed

[2015-07-02 03:25] Rainwander commented on #18
@tsroten I have the same problem as @Anchor89 ,
RuntimeError: NLPIR function NLPIR_Init failed.
My error_log can be seen as follows:
[2015-07-02 10:31:28]	/home/tiger/NLPIR/pynlpir/pynlpir/Data/NLPIR.user Not valid license or your license expired! Please feel free to contact pipy_zhang@msn.com!
[2015-07-02 10:32:09]	/home/tiger/NLPIR/pynlpir/pynlpir/Data/NLPIR.user Not valid license or your licens

[2015-07-03 19:31] tsroten commented on #18
@Rainwander, thanks for reporting this issue! What version of PyNLPIR are you using?

[2015-07-10 07:26] jingjinjingjin opened #25 "RuntimeError: NLPIR function 'NLPIR_Init' failed."
$ git clone https://github.com/tsroten/pynlpir.git
$ sudo pip install -e pynlpir
Obtaining file:///home/jingjin/pynlpir
Installing collected packages: PyNLPIR
  Running setup.py develop for PyNLPIR
Successfully installed PyNLPIR

$ python setup.py test
running test
running egg_info
writing PyNLPIR.egg-info/PKG-INFO
writing top-level names to PyNLPIR.egg-info/top_level.txt
writing dependency_links

[2015-07-10 08:21] jingjinjingjin commented on #25
Resolved!
download http://ictclas.nlpir.org/upload/20150702124141_ICTCLAS2015.zip
replace Data directory

[2015-07-10 08:21] #25 closed

[2015-07-10 15:06] jingjinjingjin opened #26 "I need the feature: New Word Indentification ,didn't find in API"
I didn't find functions about New Word Indentification in the API page http://pynlpir.readthedocs.org/en/latest/api.html#pynlpir

In the NLPIR system, the functions are like
NLPIR_NWI_Start();
NLPIR_NWI_AddFile(sInputFile);
NLPIR_NWI_Complete();

How do I use these functions in python ?

[2015-07-10 18:00] tsroten commented on #25
@jingjinjingjin Thanks for reporting this! It's difficult to keep track of when new NLPIR releases come out. I've updated the Data directory (bf9cef12203cb632423f63cef86fa185c2dbe5a3).

[2015-07-12 12:52] GiterLI opened #27 "Does it support user defined dictionary??? Thank you!"

[2015-07-12 13:01] GiterLI commented on #18
I have the same problem....My PyNLPIR version is 0.2.2

[2015-07-12 13:06] #27 closed

[2015-07-12 13:19] GiterLI opened #28 "RuntimeError: NLPIR function 'NLPIR_Init' failed"
My python version is 2.7
PyNLPIR version is 0.2.2 and I uses "pip install pynlpir" to install it.
OS is Ubuntu 12.04, 64bit
Thank you!

[2015-07-12 13:25] tsroten commented on #28
@GiterLI Thanks for reporting this issue! NLPIR recently released a new version that isn't packaged with PyNLPIR yet. I will have an update out later today.

Thanks for using PyNLPIR!

Note: This was already reported in #25.

[2015-07-12 13:25] #28 closed

[2015-07-12 13:29] GiterLI commented on #28
@tsroten  Yes, Thank you! I use
$ git clone git://github.com/tsroten/pynlpir.git
$ pip install -e pynlpir
and the problem is solved. I think the pip install command has some problems.

[2015-07-12 13:48] GiterLI opened #29 "Is this the basic version or is there any advanced version?"
The performance is relative worse even than jieba.
Here is an experiment:
The string is: s='我是歌手神截图上演宫心计 邓紫棋茜拉笔笔有杀气'
Here is the result of PyNLPIR:
我, 是, 歌手, 神, 截, 图, 上演, 宫, 心计,  , 邓紫棋, 茜, 拉, 笔, 笔, 有, 杀气

And here is the result of jieba:
我, 是, 歌手, 神, 截图, 上演, 宫, 心计,  , 邓紫棋茜, 拉, 笔笔, 有, 杀气

As we can see, PyNLPIR divides the combination " 截图".
Is there any advanced or payed version of NLPIR that can

[2015-07-12 14:16] tsroten commented on #26
@jingjinjingjin Thanks for pointing this out. Looks like I overlooked adding those functions. I've added them in 059222d. I am working on the documentation for them now.

[2015-07-12 14:16] #26 closed

[2015-07-12 14:25] tsroten commented on #29
@GiterLI I'm sorry to hear you're having issues with NLPIR's segmentation results. PyNLPIR is simply a wrapper around [NLPIR/ICTCLAS](http://ictclas.nlpir.org/). It doesn't actually implement a segmentation algorithm itself. Essentially, that means I can't do anything about the segmentation results. For support and documentation about the actual segmentation process, you would have to check direct

[2015-07-13 00:04] #21 closed

[2015-07-13 00:23] #19 closed

[2015-07-13 01:04] tsroten commented on #28
The latest version can now be installed via `pip`!

[2015-07-13 01:04] tsroten commented on #26
Okay, this is now in the most recent version of PyNLPIR.

[2015-07-13 01:05] tsroten commented on #25
Alright, this is now included in the most recent release of PyNLPIR.

[2015-07-13 01:05] tsroten commented on #24
Okay, sorry for the delay, but it's now included in the most recent release of PyNLPIR.

[2015-07-13 01:29] jingjinjingjin commented on #26
Thank you, tsroten!

[2015-07-13 09:36] risent commented on #24
:smile: thanks!

[2015-07-30 02:26] taozhijiang opened #30 "About the user dict"
Thanks for your work, help me quickly focus on my work with python and NLPIR.
All works well, but when I try with *user_dict*, problems occurs. Actually, I am not very familiar with python `ctypes`, so If you can offer a full example, really appreciate.

1. `nlpir.Init()` should take 3 arguments, the last `None` for *license* can not be missed.
2. I add my dict file under Dict directory, and `nlpi

[2015-07-30 12:53] tsroten commented on #29
@GiterLI I'm going to go ahead and close this issue. If you need any other help, feel free to post again!

[2015-07-30 12:53] #29 closed

[2015-07-30 19:40] tsroten commented on #30
@taozhijiang Thanks for using PyNLPIR! Would you mind posting the error message that you get when you run your code?

[2015-07-30 21:04] tsroten commented on #30
@taozhijiang It looks like your problem is this line: `s = c_char_p(ss)`. Here is a working version:
[code]

That will output:
[code]
Is that what you're looking for? I'll be sure to update the docs to include a better example.

[2015-07-31 16:33] taozhijiang commented on #30
Thanks for your warm heart and quick reply, it works now through your way.
Thanks.

[2015-07-31 16:33] #30 closed

[2015-07-31 16:39] taozhijiang opened #31 "Not valid license or your license expired!"
Hi, tsroten, another question may bother you ;-)

[code]

[2015-07-31 17:04] tsroten commented on #31
Can you double check what version of PyNLPIR you have? Try this:
[code]

Make sure it's version `0.3.1`. If not, you'll need to update to the latest version.

[2015-07-31 23:06] taozhijiang commented on #31
Yesterday, all works fine, but when the date time turn, it suddenly appear this problem. I guest the code may have something related to time issue.

Whether from pip repo or the github latest develop branch, this problem happens 100%

➜  correct_me python
Python 3.4.1 (default, Apr 25 2015, 16:07:13)
[GCC 4.8.4] on linux
Type "help", "copyright", "credits" or "license" for more information.

[2015

[2015-07-31 23:18] taozhijiang commented on #31
It is strange. I changed my another workstation machine's time to old, then it works there:

 vmuser@localhost  ~  python3
Python 3.4.2 (default, Jan 12 2015, 12:13:20)
[GCC 4.9.2 20150107 (Red Hat 4.9.2-5)] on linux
Type "help", "copyright", "credits" or "license" for more information.

[2015-08-01 07:12:40] /usr/lib/python3.4/site-packages/pynlpir/Data/NLPIR.user Not valid license or your lice

[2015-08-02 10:42] tsroten commented on #31
@taozhijiang It looks like NLPIR's license doesn't work after August 1. We'll have to wait for an official update from NLPIR/ICTCLAS. Changing your system's date is one workaround (as you've already figured out).

[2015-08-05 09:48] taozhijiang commented on #31
Have you tested under your own environment?
And will you update it when upstream accessible, and we just need to pull your latest update ?

[2015-08-05 10:42] tsroten commented on #31
I did test it and had the same problem. Unfortunately we can't fix this issue until NLPIR releases a new user license. The good news is that it looks like [they just did](http://ictclas.nlpir.org/newsdownloads?DocId=389)! It was released on August 5. I'll publish a new release later today.

[2015-08-05 12:47] #31 closed

[2015-08-05 15:15] tsroten commented on #31
@taozhijiang It should be working now. Download [the latest version from PyPI](https://pypi.python.org/pypi/PyNLPIR) and give it a try.

[2015-08-06 11:25] waltbai opened #32 "File permission errors on Ubuntu 12.04 LTS"
[code]

but seems it doesn't affect segment function...

[2015-08-07 15:09] tsroten commented on #32
@waltbai Thanks for reporting these warning messages. These are messages that NLPIR outputs because it isn't able to read or write the file mentioned. I'm looking into another way to ship the NLPIR `Data` directory so that this won't happen.

[2015-08-07 15:30] tsroten commented on #32
@waltbai Did you install PyNLPIR using `sudo`?

For example, did you run this: `sudo pip install pynlpir`

Or did you run this: `pip install pynlpir`?

[2015-08-08 07:54] waltbai commented on #32
I use sudo pip to install the package.

[2015-08-08 11:05] tsroten commented on #32
If you install PyNPIR using `sudo`, then you need to run Python using `sudo` as well. So, try `sudo python` and then import and open PyNLPIR. Does that get rid of the error?

[2015-08-08 11:16] waltbai commented on #32
Yes, when I run python in sudo mode, the error does not occur. Thank you!

[2015-08-08 11:16] #32 closed

[2015-09-17 13:52] fayeshine opened #33 "pynlpir.segment() hangs on English word with newline"
If you run `pynlpir.segment('E\n')`, then the program is stuck -- if there's `'`n'` and an English word. It is easy to get this bug, please fix this, thanks.

[2015-09-17 14:08] tsroten commented on #33
@fayeshine Thank your for reporting this bug. This seems to be a problem with NLPIR itself, not PyNLPIR. Here are some tests:
[code]

So, an easy solution is to strip any newlines that appear at the end of the input string before calling `nlpir.ParagraphProcess`. The problem does not seem to affect `nlpir.GetKeyWords`.

This would be a simple addition to `pynlpir.segment`. We'll leave `nlpir.Parag

[2015-10-15 15:06] likegitcoding opened #34 "install error"
[code]

[2015-10-15 18:14] tsroten commented on #34
@likegitcoding Thanks for reporting this. I'll explicitly declare the encoding to the `open()` function so it works on systems with other default encodings.

[2015-10-15 18:16] #34 closed

[2015-10-15 18:49] #33 closed

[2015-10-15 18:49] tsroten commented on #33
@fayeshine Okay, I've fixed this in the latest `develop` branch. I'll publish a release to PyPi shortly. Thanks again!

[2015-11-26 11:31] JetMuffin commented on #12
so sad to hear that, i meet the same problem

[2015-11-26 12:48] tsroten commented on #12
If you would like OS X support, please let NLPIR/ICTCLAS know: http://ictclas.nlpir.org

[2015-11-28 10:05] wangshunping opened #35 "Install fails on Windows 64-bit, Python 3"
![Uploading image.png…]()

Hello.

there is something wong when i install this package.

woule you mind help me fix it ?

system: window 64bit
python 3.4.1

error info:

OSERROR: [WinError126]

[2015-11-28 12:39] wangshunping commented on #35
I have installed it through downlaod the zip file and 'python setup.py install '

So i close it .

[2015-12-02 15:11] tsroten commented on #35
@wangshunping I'm glad you were able to fix the problem.

Another user has reported the same problem. Can you please post more information about the problem and how you fixed it?

[2015-12-03 02:29] wangshunping commented on #35
LOL..

Just the most basic operator , install a python site-package.

download .tar file from https://github.com/tsroten/pynlpir

then

[code]

Done~~

[2015-12-04 08:11] muzier commented on #35
Thank u very much. I meet the same problem and finally I fix this problem by using wang's method. Thanks again~

[2015-12-04 12:09] tsroten commented on #35
@wangshunping Thanks for explaining that!

[2015-12-21 13:20] lomizandtyd opened #36 "Init Failed."
I installed it by downloading the zip file.

pip install from the pypi lack of nlpir library.

It run right after that.

However, without any change, I got the message today:
[code]
There is no change in the source code.
And I check the directory,
libraries here as they were.
[code]
Is there any contraints in those libraries? Like time limits?

PS:
The result I got in 2.7.10, 3.4.3, 3.5.1 with cle

[2015-12-21 13:51] tsroten commented on #36
@lomizandtyd Sadly, there isn't much we can do about this but wait until ICTCLAS/NLPIR fixes it. NLPIR's error message is:

``[...]pynlpir/pynlpir/Data/NLPIR.user Not valid license or your license expired! Please feel free to contact pipy_zhang@msn.com!```

Unfortunately, the latest version of NLPIR doesn't include a new license. So, we'll have to wait until a new version of NLPIR comes out.

[2015-12-21 14:13] tsroten commented on #36
@lomizandtyd Ah, good news! It looks like the NLPIR team uploaded a new license. I've updated the repository. I'll release to PyPI later today.

[2015-12-21 14:13] #35 closed

[2015-12-21 14:15] tsroten commented on #12
@lucosax @JetMuffin Good news! PyNLPIR now supports OS X. The GitHub repository has the latest code. I'm going to release to PyPI later today.

[2015-12-22 02:55] tsroten commented on #36
@lomizandtyd Okay, [PyNLPIR version 0.4 has been released](https://pypi.python.org/pypi/PyNLPIR).

[2015-12-22 02:55] #36 closed

[2015-12-22 02:57] lomizandtyd commented on #36
@tsroten
Thanks a lot for this news.

And you add those libraries!

[2015-12-28 08:00] Titansonia opened #37 "Bug when running the tutorial code on mac osx."
Hello, i'm using mac os x, and i've just successfully installed pynlpir-0.4 on my mac,
however, when i tried the simple example in your tutorial, code is like below:
#coding=utf-8
import pynlpir
pynlpir.open()
s = '欢迎科研人员、技术工程师、企事业单位与个人参与NLPIR平台的建设工作。'
pynlpir.segment(s)
pynlpir.close()

Some error message showed like below:
/System/Library/Frameworks/Python.framework/Versions/2.7/bin/python2.7 /U

[2015-12-28 08:38] lomizandtyd commented on #37
Sorry, I didn't use mac os before.

------------------------------
But it seems like you don't have the permission of the directory: /Library/Python/2.7/site-packages/pynlpir/

Did you install it in **super user**?
Try to run the test code in super user.

------------------------------
If so, try
[code]
Then
Download the zip file, and unzip it.
or just
[code]
Assume the directory is
[code]
then
[c

[2015-12-28 08:58] Titansonia commented on #37
Thank u~ That's it

[2015-12-28 08:58] #37 closed

[2016-01-01 06:58] tsroten commented on #37
@lomizandtyd On a Mac, you might consider installing an updated version of Python (it includes pip) through [homebrew](http://brew.sh/). That way you don't ever need to mess with `sudo` when you install or run Python packages.

1. Install homebrew by running this in the terminal:
`ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"`
2. Install an updated versi

[2016-01-19 05:44] lyjlyj517 opened #38 "RuntimeError: NLPIR function 'NLPIR_Init' failed."
Help.I install the newest vertion 0.4,but still RuntimeError: NLPIR function 'NLPIR_Init' failed.
Environment: Windows-64bit + Python 2.7-32bit.
Any one have an idea?

[2016-01-20 02:48] tsroten commented on #38
@lyjlyj517 Can you please provide the entire error message and stack trace please? That will help us figure out what the problem might be.

[2016-01-21 14:16] lyjlyj517 commented on #38
@tsroten I heard that a new version was published by the raw developer recently.So I changed the NLPIR.user file in the Data folder manually,and it works ! Sorry for forgetting to save the entire stack trace,but I think this should be where the problem lies.

[2016-01-22 14:34] zyshin commented on #38
[code]

Got the same issue. I downloaded the [latest NLPIR package](http://ictclas.nlpir.org/) and replaced the contents in the `Data` folder and the corresponding binaries in the `Lib` folder and finally it worded. I suggest the NLPIR modue packaged in pynlpir get updated.

[2016-01-23 02:49] tsroten commented on #38
@zyshin @lyjlyj517 Thanks for the information. I've updated the license file in the repository. I'll release a PyPI version shortly.

[2016-01-23 02:58] tsroten commented on #38
Okay, PyNLPIR v0.4.1 has been published to PyPI. You can now download it via `pip`.

[2016-01-23 14:06] dengjl opened #39 "情感分析的模块"
我想问一下有没有情感分析的模块？

[2016-01-24 13:50] zmlarry opened #40 "Premature exit when dealing with a large file"
I'm trying to segment a somewhat large file (~700MB), but the program exits prematurely after processing about 20% of the file, without any error message.
Here's the script I use:
`cat input.zh | sudo python3 tokenizeAndPOS-zh-pynlpir.py > output.zh`
And my program `tokenizeAndPOS-zh-pynlpir.py` is as simple as this:

    import sys
    import pynlpir
    pynlpir.open(encoding_errors='ignore')

[2016-01-24 14:49] tsroten commented on #40
@zmlarry Thanks for using PyNLPIR!

You say the program "exits prematurely". Do you mean that it stops printing output and returns you to the command prompt?

Have you had this problem with other files?

If you'd be willing to upload the file or email it to me, I'd be happy to take a look at it.

[2016-01-24 18:29] #38 closed

[2016-01-25 08:08] zmlarry commented on #40
@tsroten Thank you for your reply!

Yes, that's what I mean by "premature exit".

I realized I should flush the output before locating the line where the program stopped. It turned out that the problem has nothing to do with file size. The line below suffices to trigger the problem:
`Radio Kaleidoscope eye's`
If you can't reproduce the problem, it may be because some special characters are lost fr

[2016-01-25 13:06] dengjl opened #41 "the format of user dict"
thanks for your work. what's the format of the user dict? I can't import it right

[2016-01-26 03:23] tsroten commented on #40
@zmlarry That line is working for me. Why don't you try emailing me an excerpt of the file?

Also, you could try setting the `encoding_errors` keyword to `replace` or `strict`, e.g. `pynlpir.open(encoding_errors='ignore')`. If you set it to `replace`, it might help NLPIR process that sentence. If you set it to `strict`, it could possibly help you track down which character is causing an error.

[2016-01-26 03:28] tsroten commented on #39
现在没有。

[2016-01-26 03:28] #39 closed

[2016-01-26 03:37] tsroten commented on #41
@dengjl Thanks!

NLPIR has an example you can look at: https://github.com/NLPIR-team/NLPIR/blob/master/NLPIR-ICTCLAS/Data/UserDefinedDict.lst

[NLPIR的手册](http://ictclas.nlpir.org/newsdownloads?DocId=389)说：
[code]

The manual also has some more information.

And, you could check out this: https://github.com/NLPIR-team/NLPIR/tree/master/NLPIR-ICTCLAS/importuserdict

[2016-01-26 14:03] tsroten commented on #40
@zmlarry Changing `encoding_errors` to `strict` revealed the error:

[code]

There is a non-utf-8 byte sequence on that line. You can fix it by either correcting the line (retype it manually in your file) or by setting `encoding_errors` to `replace`.

[2016-01-26 14:30] zmlarry commented on #40
@tsroten Thank you! I thought `ignore` would suppress this kind of error; now I see `replace` should be used instead.

[2016-01-27 08:22] zmlarry commented on #40
@tsroten Well, it turned out that `replace` didn't work; the program still broke like `ignore`. I ended up removing each line that is problematic.

[2016-01-27 23:41] tsroten commented on #40
Yeah, NLPIR is pretty sensitive as far as it's expected input goes. The `'replace'` and `'ignore'` options help sometimes, but not always. Glad it's working for you now.

[2016-01-27 23:41] #40 closed

[2016-02-08 22:38] fighting41love opened #42 "License problem"
RuntimeError: NLPIR function 'NLPIR_Init' failed.

They released a new version on Janurary 29 2016.
The previous license is invalid.
I tried to update the license file, but failed to make it work.
Will you update the pynlpir these days ?

Thanks!

Best regards,
YY

[2016-02-12 06:53] yksk commented on #42
Got the same issue.
I install the newest vertion 0.4.1,but still RuntimeError: NLPIR function 'NLPIR_Init' failed.
Environment: Windows-64bit + Python 2.7-32bit.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\xxxxxx\AppData\Local\Continuum\Anaconda\lib\site-packages\pynlpir-0.4.1-py2.7.egg\pynlpir\__init__.py", line 97, in open
    raise RuntimeError("NL

[2016-02-14 08:14] dengjl commented on #41
thank you very much!

[2016-02-15 01:12] dengjl commented on #41
by the way, does the function pynlpir.segment include the user dictionary automatically? I think the nlpir.ParagraphProcess can do it, but pynlpir.segment seems not work

[2016-02-15 09:53] dengjl commented on #41
Oh I find my mistake, the dictionary is not 'utf-8' coding

[2016-02-17 03:14] #41 closed

[2016-02-17 03:16] tsroten commented on #42
@fighting41love @yksk Thanks for letting me know a new license is out. I've released a new version of PyNLPIR (0.4.2). You can download it via `pip`.

https://pypi.python.org/pypi/PyNLPIR

[2016-02-17 03:16] #42 closed

[2016-02-17 03:19] tsroten opened #43 "NLPIR license updates make PyNLPIR unusable"
NLPIR's license is frequently updated. Whenever this happens, it is difficult to use PyNLPIR. A workaround is to manually download a new license file.

Instead, I propose that PyNLPIR not include a license at all. A command-line utility that's packaged with PyNLPIR can be used to download/update the license file.

I'm thinking something like `pynlpir-license-update` or `pynlpir --update`.

[2016-02-17 03:24] tsroten opened #44 "Command-line interface for segmenting text"
PyNLPIR currently provides an API that developers can use to create software that will segment text. It would be nice to have a simple command-line interface to the `segment()` function.

A possible example is: `pynlpir "FOOBAR"` and `pynlpir -i foo.txt`

[2016-02-17 13:43] tsroten opened #45 "Don't override the built-in open function"
PyNLPIR defines a function called `open`. This should be renamed so as to not clash with the standard Python function.

This will make PyNLPIR's API backwards-incompatible, so it would require a major version bump to indicate its difference with the previous versions.

[2016-03-03 02:03] tsroten opened #47 "Add OS X to the Travis CI config file"
Travis CI supports testing on Linux and OS X. Right now, PyNLPIR is setup to only test on Linux. We should add test support for OS X.

[2016-03-03 03:28] tsroten opened #48 "Migrate legacy Travis CI build to container-based"
The following should be added to the travis config file:

[code]

That will allow the builds to be run much faster.

[2016-03-09 14:26] anoidgit opened #50 "pynlpir.open RuntimeError"
I install the package by pip install pynlpir, It reports pynlpir\__init__.py line97.in open
raise RuntimeError("NLPIR function 'NLPRI_Init' failed.")
I installed 32-bit python 2.7.11 on 64-bit Windows 10.
Is there anything I could do to fix this?thanks for help.

[2016-03-10 09:02] anoidgit commented on #50
I fix it by replace folder Data from official package

[2016-03-10 09:02] #50 closed

[2016-03-12 12:40] tsroten commented on #50
@anoidgit Thanks for pointing this out. This has been fixed.

[2016-03-12 12:43] tsroten commented on #47
After further testing, this doesn't work with #48. Closing this ticket in favor of #48.

[2016-03-12 12:43] #47 closed

[2016-03-12 12:45] tsroten commented on #43
Here is the implementation:

[code]

[2016-03-13 02:08] anoidgit commented on #50
my pleasure

[2016-04-07 08:42] pkwv opened #51 "nlpir.AddUserWord maybe wrong"
I use nlpir.AddUserWord to add "北京师范大学" to the dictionary, the return value is **2**
But when I call nlpir.ParagraphProcessA("北京师范大学",ctypes.byref(size),True)
The result is only "北京" without the last four characters.

[2016-04-09 13:02] tsroten commented on #51
@pkwv It looks like our license was out-of-date. I've updated PyNLPIR. Can you update your version to v0.4.4 and try again? You can download it straight from PyPI at https://pypi.python.org/pypi/PyNLPIR

Or, if you use pip you can try this:
[code]

[2016-04-10 11:25] pkwv commented on #51
@tsroten It works after upgrade
thank you

[2016-04-18 11:48] kensk8er opened #52 "pynlpir.segment(text, pos_names='all') fails for certain texts when pynlpir.segment(text) doesn't fail"
pynlpir.segment(text, pos_names='all') fails for certain texts when pynlpir.segment(text) doesn't, which is not an expected behaviour I think.

For example,

When `text = u'其中，新增了甲卡西酮、曲马多、安钠咖等12种新类型毒品的定罪量刑数量标准，并下调了在我国危害较为严重的毒品氯胺酮的定罪量刑数量标 准。'`

`pynlpir.segment(text, pos_names='all')` causes the following Error:

No handlers could be found for logger "pynlpir.pos_map"
------------------------------

[2016-04-19 03:08] #52 closed

[2016-04-19 03:08] #51 closed

[2016-05-07 12:41] rookieacg opened #54 "How to call text classification interface in PYNLPIR?"

[2016-05-11 07:31] lijianbo0130 commented on #39
原来你会说中文。<(￣︶￣)>。。。

[2016-06-10 10:07] kensk8er opened #55 "pynlpir.segment returns inconsistent results for certain inputs when the inputs are given more than once"
`pynlpir.segment` method seems to return inconsistent results for certain inputs. What I mean by "inconsistent results" is that the method returns different list for the same input. In my environment, you can reproduce the issue by following the steps below on REPL (e.g. ipython).

1. `import pynlpir`
2. `pynlpir.open()`
3. `text = u'父子俩产生矛盾 老父雇凶杀子・广东新闻・珠江三角洲・南方新闻网 黄某华是河源市和平县彭寨镇农民黄某坤的大儿子，父子俩产生矛盾，黄

[2016-06-20 14:09] wabyking opened #56 "when my user dict is too big, it does not work"
Traceback (most recent call last):
  File "****.py", line 20, in <module>
    pynlpir.nlpir.ImportUserDict("user.dict")
WindowsError: exception: access violation reading 0x0000000000000001

[2016-07-01 01:57] stud20090001 opened #57 "NLPIR function 'NLPIR_Init' failed,icense is out"
import pynlpir
pynlpir.open()
RuntimeError: NLPIR function 'NLPIR_Init' failed.

err log:
[2016-07-01 09:47:08]   d:\Anaconda3\lib\site-packages\pynlpir\Data\NLPIR.user Not valid license or your license expired! Please feel free to contact pipy_zhang@msn.com!

[2016-07-01 12:08] LucaDemo commented on #57
Same here, probably it's the same problem that there has been on Aug 1st 2015: https://github.com/tsroten/pynlpir/issues/31

[2016-07-02 06:41] RangoHU commented on #57
Same here.

[2016-07-03 02:34] NickPoon commented on #57
Same here.  The problem seems can be solved as in [#38](https://github.com/tsroten/pynlpir/issues/38)

[2016-07-03 20:12] JingwenJessica commented on #57
Same here. I update the user license file and everything works now.

Downloaded the [latest NLPIR package(2016-06-07)](http://ictclas.nlpir.org/newsdownloads?DocId=389) and replaced the NLPIR.user file in the Data folder. This should save the problem.

[2016-07-03 20:58] LucaDemo commented on #57
Yep it works, thanks

[2016-07-12 16:22] CreamBing commented on #28
win64 python3.5.1 when I import pynlpir and run pynlpir.open()

[2016-07-13 08:33] haoran-zhang commented on #57
They expire the license very often. You can check the date+'.err' file in Data, most of the reason is the license was expired. You can folk their github account, download and replace the license in Data at the first time.  https://github.com/NLPIR-team/NLPIR/tree/master/License

[2016-07-18 14:34] tsroten commented on #57
I've updated the license file in version 0.4.5 of PyNLPIR.

[2016-07-18 14:47] tsroten commented on #57
Also, I've been working on a license auto-updater. I'd appreciate any help with testing it on Windows. For anyone who wants to help and knows how to run PyNLPIR from the `develop` branch, could you give it a shot? After it's installed, `pynlpir update` is the command that can be run to update the license.

[2016-07-18 14:53] tsroten commented on #56
@wabyking I'm sorry it's taken me so long to get back to you. The error seems to suggest there is a problem reading the file. `access violation` -- are you sure the file has the correct permissions?

[2016-07-18 15:26] tsroten commented on #55
PyNLPIR is a simple wrapper around NLPIR's behavior. Have you tried running this in NLPIR directly? My guess is that you'd get the same result.

[2016-07-18 15:31] kensk8er commented on #55
Thanks for the reply! It was a month ago so I don't remember clearly, but I found a way to work around this issue (don't remember if it's NLPIR's bug or not). The fix is in my private fork (not on github) so if you want to integrate this at some point let me know. The commits are a bit messy and also have some changes which you probably don't want to integrate so I need to organize a bit if you wa

[2016-07-18 15:31] #55 closed

[2016-07-18 16:07] tsroten commented on #55
@kensk8er I'd definitely be interested in taking a look. I'd be happy to look at it as-is, as well :)

[2016-07-18 21:14] tsroten commented on #57
Okay, the license auto-updater has been successfully tested on Windows (and Linux and OS X). The notable downside is that NLPIR now packages their licenses in RAR archives, so any system that runs PyNLPIR's license downloader/updater will need to have some type of software that can extract RAR archives.

On OS X -- it's trivial:
[code]

On Linux, it's also trivial:
[code]

On Windows, it's almost

[2016-07-18 21:29] tsroten commented on #57
The trouble is, since February 2016, NLPIR has released the NLPIR-ICTCLAS license in three different formats.

First, [in February](https://github.com/NLPIR-team/NLPIR/blob/487eec3041772a8aa30f24fddc1a7a42c80eebb8/License/license%20for%20a%20month/NLPIR-ICTCLAS%E5%88%86%E8%AF%8D%E7%B3%BB%E7%BB%9F%E6%8E%88%E6%9D%83/NLPIR.user) it was the binary `.user` license file.
Second, [a week ago](https://git

[2016-08-12 06:40] ljdawn opened #58 "mac install err"
Hi. I'm trying to install this package on mac, but get error .Bellow is the msg. thank you .
`Installed /Users/itjuzi/env/lib/python2.7/site-packages/PyNLPIR-0.4.5-py2.7.egg
Processing dependencies for PyNLPIR==0.4.5
Searching for patool
Reading https://pypi.python.org/simple/patool/
Best match: patool 1.12
Downloading https://pypi.python.org/packages/1b/eb/ad3c94cb8cbc1d8b1c47471d2c43537a05fda2bd

[2016-08-12 14:55] fengxia41103 opened #59 "pynlpir.open failed with runtime error"
`raise RuntimeError("NLPIR function 'NLPIR_Init' failed.")`

Was working until we did `pip install --upgrade pynlpir` to ugrade to 0.4.5. Rolled back to 0.4.3 complained about license out of date.

[2016-08-12 20:08] tsroten commented on #57
I've reached out to Dr. Zhang to see if he will consider standardizing the format he uploads the new license files in.

[2016-08-12 20:11] tsroten commented on #58
@ljdawn It looks like you're installing the development version. I'm still working out some kinks there. I'd recommend installing the latest official version via:

`pip install pynlpir`

Or, if you're installing from source:
[code]

[2016-08-12 20:12] tsroten commented on #59
@fengxia41103 Can you please paste the entire traceback and error message?

[2016-08-12 20:22] tsroten commented on #59
@fengxia41103 The license is out-of-date again. I've just updated PyNLPIR again. Try again with the latest version via `pip install --upgrade pynlpir`

[2016-08-12 20:22] #59 closed

[2016-08-15 11:15] huntzhan opened #60 "ImportUserDict get stuck when loading big dictionary."
OS: CentOS 6.7

Test code I've run:

[code]

example format of dict:

[code]

It takes approximately 1 second to load a dictionary with 10k words, and `ImportUserDict` get stuck when I try to load a dictionary of 100k, and there's no way to trigger a keyboard interrupt.

I suspect that the time complexity of loading user dictionary is greater than O(n^2).

[2016-08-16 01:08] tsroten commented on #60
@huntzhan The `pynlpir.nlpir.ImportUserDict()` function calls the NLPIR function directly. PyNLPIR itself does not open the user dict file or read its data. You might try asking around at NLPIR:
- http://www.nlpir.org/
- https://github.com/NLPIR-team/NLPIR

[2016-08-16 01:08] #60 closed

[2016-08-16 10:28] ljdawn commented on #58
@tsroten  I'm installing that from source.  Thank you . That works fine

[2016-09-26 12:21] xxx0624 opened #61 "TypeError"
when sentence = ‘申报’， there would throw TypeError.
![image](https://cloud.githubusercontent.com/assets/5348141/18834115/c9c8286c-8426-11e6-84a8-1ce4ea55efec.png)
this is my code:
![image](https://cloud.githubusercontent.com/assets/5348141/18834153/efac649e-8426-11e6-9c2a-3ccacd2acadb.png)

[2016-10-15 14:37] soledada opened #62 "Can I import multiple dictionaries?"
I have called "pynlpir.nlpir.ImportUserDict" for many times to add multiple dictionaries. But it seems only work for the last dictionary.

[2016-10-26 11:43] jennywei1987 commented on #34
Hi, I am newee, and I am using pynlpir to run some data.

I got the error...I am using eclipse, and python 2.7.

Below is my code:

my result:
*[(u'\u7f8e\u56fd', u'noun'), (u'\u7b2c\u4e8c', u'numeral'), (u'\u5c4a', u'classifier'), (u'\u603b\u7edf', u'noun'), (u'\u7684', u'particle'), (u'\u540d\u5b57', u'noun'), (u'\u662f', u'verb'), (u'\u4ec0\u4e48', u'pronoun')]*

How would I modify the code?

T

[2016-10-26 11:45] jennywei1987 commented on #22
Hi, I am newee, and I am using pynlpir to run some data.

I got the error...I am using eclipse, and python 2.7.

Below is my code:

my result:
*[(u'\u7f8e\u56fd', u'noun'), (u'\u7b2c\u4e8c', u'numeral'), (u'\u5c4a', u'classifier'), (u'\u603b\u7edf', u'noun'), (u'\u7684', u'particle'), (u'\u540d\u5b57', u'noun'), (u'\u662f', u'verb'), (u'\u4ec0\u4e48', u'pronoun')]*

How would I modify the code?

T

[2016-12-26 15:49] LiuHuaYi opened #63 "TypeError on 64bit win7"
when i import pynlpir, i get an error,TypeError: LoadLibrary() argument 1 must be string, not unicode

[2017-01-01 07:20] soledada commented on #57
The problem occurs in the first day of 2017
So is there some error about the auto-updater ?

I replace the "NLPIR.user" on my computer with this file:
https://github.com/NLPIR-team/NLPIR/blob/master/License/license%20for%20a%20month/NLPIR-ICTCLAS%E5%88%86%E8%AF%8D%E6%8E%88%E6%9D%83/NLPIR.user
And it seems pynlpir works now.

[2017-01-01 11:34] rafael75012 commented on #57
@soledada
Thanks for your intervention.
I have the same problem, that I actually try to solve
When I click on your link, I get "Page not Found"

[2017-01-05 14:05] anoidgit commented on #63
The same problem has happened to me on win10 x64, after I update python 2.7.13

[2017-01-05 14:11] anoidgit commented on #63
I replace "libNLPIR = cdll.LoadLibrary(lib)" with "libNLPIR = cdll.LoadLibrary(lib.encode("utf-8"))" in pynlpir/nlpir.py and fix this. @LiuHuaYi

[2017-02-22 13:01] rafael75012 opened #64 "Pynlpir Accuracy"
Hi,

I am a user of Pynlpir, and I would like to know where I can found the results of its accuracy tests, if any have been processed.

[2017-02-22 13:27] tsroten commented on #64
Hi! Thanks for using PyNLPIR!

PyNLPIR doesn't do any language processing itself. It is a wrapper around NLPIR, which is a separate project. You can find more information about that project [here](http://ictclas.nlpir.org). It is featured in academic journal articles and various online sources.

[2017-02-22 13:32] rafael75012 commented on #64
Thank you for your very quick response.
But ICTCLAS seems to have been updated many, I know for example ICTCLAS2008 and ICTCLAS 2014. On which version is Pynlpir based?

[2017-02-22 22:03] tsroten commented on #64
The 2015 version.

[2017-02-23 01:35] rafael75012 commented on #64
Thank you so much

[2017-02-23 02:14] #64 closed

[2017-02-23 02:16] #58 closed

[2017-02-25 04:14] rafael75012 opened #65 "PyNLPIR/ICTCLAS Segmentation Tool"
I know PyNLPIR is ICTCLAS wrapper, but I don't manage to find neither to get any confirmation about on which corpora has been trained ICTCLAS. In (Zhang, 2002) it is explained it was PKU at this time, but I don't manage to know if its still the case for ICTCLAS2015.
Thanks so much if you could provide me any information.

[2017-02-25 18:02] tsroten commented on #65
I would try reaching out to Dr. Kevin Zhang directly. I've communicated with him in the past and found him to be responsive. You can find his contact information on the [NLPIR GitHub repo](https://github.com/NLPIR-team/NLPIR).

[2017-02-26 07:45] rafael75012 commented on #65
Thanks,

He responded me that the corpus is one month of the People's Daily.

[2017-02-26 07:45] #65 closed

[2017-03-03 21:24] ashtonteng opened #66 "License is out again? Replacing NLPIR.user does not work."
I am using Python3 on Mac OS Sierra. I downloaded NLPIR.user from https://github.com/NLPIR-team/NLPIR/tree/master/License/license%20for%20a%20month/NLPIR-ICTCLAS%E5%88%86%E8%AF%8D%E7%B3%BB%E7%BB%9F%E6%8E%88%E6%9D%83 and replaced my local version, but this error persists.

---------------------------------------------------------------------------
RuntimeError                              Traceback

[2017-03-03 21:26] ashtonteng commented on #66
Nevermind, I just did not refresh my Jupyter notebook!

[2017-03-03 21:26] #66 closed

[2017-03-03 21:26] tsroten commented on #66
@ashtonteng Great, I'm glad it worked out!

[2017-03-06 05:44] kehao95 opened #67 "License expired again"
Sadly found out that the license file failed again. And the [NLPIR project](https://github.com/NLPIR-team/NLPIR ) has been changed a lot.
There is no single license anymore. And it divided the functions into components. Still undocumented.
This project is no longer working before major changes.

Thank you for your work on this project you've helped me a lot.

Personally, I don't recommend you spen

[2017-03-06 15:11] tsroten commented on #67
@kehao95 Yes, NLPIR licenses are hard to understand. I'm not quite sure what they accomplish since the licenses are available on GitHub for download.

You should be able to [use this license](https://github.com/NLPIR-team/NLPIR/blob/master/License/license%20for%20a%20month/NLPIR-ICTCLAS%E5%88%86%E8%AF%8D%E7%B3%BB%E7%BB%9F%E6%8E%88%E6%9D%83/NLPIR.user).

[2017-03-11 07:10] #43 closed

[2017-03-11 07:10] #48 closed

[2017-03-11 16:54] #67 closed

[2017-03-11 18:57] tsroten commented on #61
PyNLPIR has since been updated. Try to upgrade and give this a try again. Thanks!

[2017-03-11 18:57] #61 closed

[2017-03-11 18:57] tsroten commented on #57
Ok, the license updater is in version 0.5: https://pypi.python.org/pypi/PyNLPIR

`pynlpir update` to install/update the license.

[2017-03-11 18:57] #57 closed

[2017-03-11 18:58] #44 closed

[2017-03-11 18:58] #45 closed

[2017-03-11 18:58] #56 closed

[2017-03-11 18:59] tsroten commented on #62
Hi! This appears to be a limitation of NLPIR. You might need to combine the files before importing.

[2017-03-11 19:01] tsroten commented on #54
I don't believe so. Of the different parts of NLPIR, we only support `NLPIR-ICTCLAS分词组件`.

See this for more information: https://github.com/NLPIR-team/NLPIR/blob/master/NLPIR%20SDK/README.md

[2017-03-11 19:01] #54 closed

[2017-03-18 15:20] tsroten commented on #63
This is fixed and can be installed via pip: `pip install --upgrade pynlpir`

Thanks!

[2017-03-19 02:31] anoidgit commented on #63
My pleasure. @tsroten

[2017-03-22 06:56] jadestrong commented on #63
if `replace "libNLPIR = cdll.LoadLibrary(lib)" with "libNLPIR = cdll.LoadLibrary(lib.encode("utf-8"))"` will throw an error `typeerror-bad-argument-type-for-built-in-operation` on python 3.5  64bit win10, I reset it, it
works

[2017-03-22 09:41] ucaszx opened #70 "TypeError: this function takes at least 2 arguments (1 given)"
hey, I tried to use pynlpir.nlpir.ParagraphProcess , and  I got this

    s = nlpir.ParagraphProcess(query, pos_tagging=False)
TypeError: this function takes at least 2 arguments (1 given)

it seems that only 1 argument is passed into the C++ function

[2017-03-22 14:23] tsroten commented on #70
@ucaszx I think the issue is that the documentation makes it look like `pos_tagging` is a named argument. Try this instead:
[code]

[2017-03-22 14:28] tsroten commented on #63
@jadestrong So, it seems like it's a difference between Python 2 and Python 3 on Windows. Thanks for mentioning this.

This is not clearly indicated in Python's documentation, so we're kind of relying on trial and error here.

I'll try to get a Windows machine up and running to test this in the various Python versions.

[2017-03-23 07:53] ucaszx commented on #70
tks, it works

[2017-03-23 07:53] #70 closed

[2017-03-25 03:28] WayRooney opened #71 "i have some problems with my pynlpir"
hey tsroten:
    i am a university student from china,these days i was buy with my instructor's project.To accomplish that, i have installed pynlpir on my anaconda3,however,after downloading it successfully, i meet problems when i write simple codes to test it.
    it was like 'self._handle = _dlopen(self._name, mode),TypeError: bad argument type for built-in operation',i would like to know if you

[2017-03-25 03:40] yangqinj commented on #71
Same problem...

[2017-03-25 03:59] tsroten commented on #71
@WayRooney @yangqinj Thanks for using PyNLPIR!

Could you please give me more information about your problem.
- What code did you run?
- What was the entire error message?
- What version of Python are you using?
- What operating system are you using?

[2017-03-25 04:04] WayRooney commented on #71
my code is as follows
import pynlpir
pynlpir.open()
s = '欢迎科研人员、技术工程师、企事业单位与个人参与NLPIR平台的建设工作。'
pynlpir.segment(s)

entire error message:

  File "D:\Anaconda3\lib\ctypes\__init__.py", line 347, in __init__
    self._handle = _dlopen(self._name, mode)

TypeError: bad argument type for built-in operation

i am using python3.5 on anaconda3 and mu system is win64

[2017-03-25 04:23] tsroten commented on #71
This is a duplicate of https://github.com/tsroten/pynlpir/issues/63. Closing this issue.

[2017-03-25 04:23] #71 closed

[2017-03-25 04:45] tsroten commented on #71
@WayRooney @yangqinj This should be fixed. If you could, please test it and let me know.

Run `pip install --upgrade pynlpir` to upgrade PyNLPIR.

[2017-03-25 04:45] tsroten commented on #63
@jadestrong This should be fixed. If you could, please test it and let me know.

Run `pip install --upgrade pynlpir` to upgrade PyNLPIR.

[2017-03-25 05:10] jadestrong commented on #63
@tsroten I've tested it.  there is no problem

[2017-03-25 05:21] #63 closed

[2017-03-25 05:22] tsroten commented on #67
@kehao95 If you update via `pip install --upgrade pynlpir` to the newest version, you can auto-update the license by running `pynlpir update`.

[2017-03-25 05:23] tsroten commented on #66
@ashtonteng If you update via `pip install --upgrade pynlpir` to the newest version, you can auto-update the license by running `pynlpir update`.

[2017-03-25 08:33] WayRooney commented on #71
Thanks a lot tsroten,it is done and helps me a lot.
if having other questions,i will seek help from you again.
see you!

[2017-03-25 11:21] kehao95 commented on #67
thank you~ 😃

[2017-03-27 05:10] HGYD opened #73 "TypeError when Init the pynlpir.nlpir API"
Hi,
I follow the Tutorial to initialize the nlpir API by

[code]

However, it shows
[code]

Thanks

[2017-03-27 06:21] HGYD commented on #73
[code]

[2017-03-27 06:21] #73 closed

[2017-03-27 06:23] HGYD opened #74 "nlpir.GetNewWords doesn't work"
Hi,
I try the GetNewWords API. However it returns emtry str result.
[code]

return:
emtry  str

[2017-03-27 20:58] tsroten commented on #74
@HGYD It appears that starting in 2016, NLPIR is no longer used for new word finding:

请访问: https://github.com/NLPIR-team/NLPIR/tree/master/NLPIR%20SDK/NewWordFinder

[2017-04-16 11:15] hanhan4321 commented on #57
I use pynlpir update to update the license,it also has the the same error:
 pynlpir.LicenseError: Your license appears to have expired. Try running "pynlpir update".
then I debug it ,find it in __init.py__

elif 'Can not open License file' in line:
                        raise LicenseError('Your license appears to be '
                                           'missing. Try running "pynlpir '

[2017-04-17 03:13] tsroten commented on #57
Hi @hanhan4321! Can you please tell me what it says when you run `pynlpir update` from your terminal?

[2017-04-17 04:26] hanhan4321 commented on #57
Today, it's ok. The NLPIR-team updates the April license today.  Thank you！

[2017-04-19 03:44] tanhu1230 opened #75 "Cannot open file KeyBlackList.pdat"
I got the pynlpir through pip and it works well yesterday,but today it seem to get some problems when I try to initial it.The runtime error showing below:

[code]

I hava downloaded the latest NLPIR.user file from https://github.com/NLPIR-team/NLPIR/tree/master/License and replace it in Data document,but still have this problem.

[2017-04-19 03:49] tsroten commented on #75
@tanhu1230 Hmm, that is odd. In the `Data` directory, can you see if there are any files that have names that end with `.err` or `.log`? If you do, post what they say in them.

They are typically named with the date and time, like `20170418.err`.

Thanks!

[2017-04-19 03:56] tanhu1230 commented on #75
[2017-04-19 11:46:44]	Cannot open file
[2017-04-19 11:46:44]	/home/swan/anaconda2/lib/python2.7/site-packages/pynlpir/Data/KeyBlackList.pdat

[2017-04-19 04:05] tsroten commented on #75
@tanhu1230 It looks like it is a permission error. I'm not that familiar with anaconda, but you might try making sure that your user owns the `anaconda2` folder:
[code]

Or:
[code]

[2017-04-19 04:17] tanhu1230 commented on #75
OK,it is working now,thank you very much!

[2017-04-19 04:17] tsroten commented on #75
No problem! Good luck with your coding :)

[2017-04-19 04:17] #75 closed

[2017-05-03 10:02] Matt233 opened #76 "I want to know if I can use the find new word mode to seperate the word."
when I use a paragraph to test ,I found that the words found by pynlpir.nlpir.GetNewWords() can't be seperated by pynlpir.segment().SoI want to know if I can use the find new word mode to seperate the word.thanks.

[2017-05-10 01:17] tsroten commented on #76
@Matt233 I think you need to add the new words to the dictionary before you segment ([`pynlpir.nlpir.AddUserWord`](http://pynlpir.readthedocs.io/en/latest/api.html#pynlpir.nlpir.AddUserWord)).

[2017-05-12 04:36] cidrugHug8 commented on #57
I tried to update pynlpir and failed.  The error is described below:

  File "/usr/local/bin/pynlpir", line 9, in <module>
    load_entry_point('PyNLPIR==0.5.2', 'console_scripts', 'pynlpir')()
  File "/usr/lib/python3/dist-packages/pkg_resources.py", line 337, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/lib/python3/dist-packages/pkg_resources.p

[2017-05-12 05:18] cidrugHug8 opened #77 "Can PyNLPIR run on Python 3.2?"
I tried to update pynlpir and failed.  The error is described below:

  File "/usr/local/bin/pynlpir", line 9, in <module>
    load_entry_point('PyNLPIR==0.5.2', 'console_scripts', 'pynlpir')()
  File "/usr/lib/python3/dist-packages/pkg_resources.py", line 337, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/lib/python3/dist-packages/pkg_resources.p

[2017-05-12 11:46] tsroten commented on #77
Hello @cidrugHug8 Thanks for using PyNLPIR.

It looks like you are running Python 3.2. PyNLPIR does not support version 3.2 because it is officially considered "end-of-life" -- it doesn't get any support or updates.

PyNLPIR supports Python 2.7, 3.3, 3.4, 3.5, or 3.6.

Here is the document on the current status of Python versions: https://docs.python.org/devguide/#status-of-python-branches

[2017-05-17 03:02] cidrugHug8 commented on #77
Thank you for the reply.
I updated Ubuntu to 14.0.4
Thanks.

[2017-05-17 03:02] #77 closed

[2017-06-06 03:07] flywithyu opened #78 "question about "pynlpir.get_key_words""
when i use pynlpir.get_key_words, can i get the parts of the speech of the key words？
I try to use pynlpir.segment, but find that the words obtained from pynlpir.get_key_words and pynlpir.segment may be different.
Thank you and best wishes.

[2017-06-07 01:08] tsroten commented on #78
@flywithyu, hello! I don't think that NLPIR supports that. PyNLPIR just returns whatever NLPIR does behind the scenes.

You can see what NLPIR supports in its documentation: https://github.com/NLPIR-team/NLPIR/blob/master/NLPIR%20SDK/NLPIR-ICTCLAS/doc/NLPIR-ICTCLAS%E5%88%86%E8%AF%8D%E7%B3%BB%E7%BB%9F%E5%BC%80%E5%8F%91%E6%89%8B%E5%86%8C2016%E7%89%88.pdf

[2017-06-07 08:02] flywithyu commented on #78
Thanks. I accomplish this by searching the same word in segments.
# 搜索分词，找相同字符串，根据词性判断
        for k in range(1, segments.__len__()+1):
            if key_word == segments[k-1][0]:
                # 设置词性集合
                r2 = '名词:人名 名词:人名:汉语姓氏  名词:人名:汉语名字 名词:人名:日语人名 名词:人名:音译人名' \
                     '名词:地名 名词:地名:音译地名' \
                     '名词:机构团体名 名词:其它专名 ' \
                     '动词 动词:名动词 动

[2017-06-07 08:07] flywithyu commented on #78
Another question:
Now I want to use self-define dictionary. But I find that even I set words like "鸡精" in self-define dictionary, the function get_key_words or segment still obtain the word "鸡". How can I solve this problem?
I have tried nlpir.ImportUserDict('D:/user.txt',True) and nlpir.AddUserWord('鸡精   n').

[2017-06-08 16:56] tsroten commented on #41
Updated link for sample user dict: https://github.com/NLPIR-team/NLPIR/blob/a632f29b2452195d338e8e5e69a49be31dd69604/NLPIR-ICTCLAS/Data/UserDefinedDict.lst

[2017-06-08 16:58] tsroten commented on #78
You might want to check your dict file format and file encoding. See this issue for more information: https://github.com/tsroten/pynlpir/issues/41

[2017-06-13 18:08] lampda opened #79 "“segmention fault”"
for example

[1]    10797 segmentation fault  python

can you help or advise? Thanks.

[2017-06-13 19:37] tsroten commented on #79
Hi @lampda! Check out our readme or documentation. You have to open NLPIR, first:

[code]

[2017-06-14 00:16] lampda commented on #79
Oh, that is.
Cheers.

[2017-06-14 01:58] #79 closed

[2017-06-22 08:11] 363325971 opened #80 "Not valid license or your license expired!!!"
2017-06-22 15:54:59] /usr/local/lib/python2.7/site-packages/pynlpir/Data/NLPIR.user Not valid license or your license expired! Please feel free to contact pipy_zhang@msn.com!

How to solve this?

[2017-06-22 08:22] 363325971 commented on #80
0.5.2

[2017-06-22 19:03] tsroten commented on #80
@363325971 Try running this in your terminal:
[code]

[2017-06-23 02:18] 363325971 commented on #80
@tsroten

[2017-06-23 10:11:17] Cannot open file /usr/local/lib/python2.7/site-packages/pynlpir/Data/NewWord.lst
Cannot write log file /usr/local/lib/python2.7/site-packages/pynlpir/Data/20170623.err!

[(u'\u6211\u4eec', u'pronoun'), (u'\u90fd', u'adverb'), (u'\u662f', u'verb'), (u'\u597d', u'adjective'), (u'\u670b\u53cb', u'noun')]

This is what I got from a segment, seems the result displays in

[2017-06-23 03:02] tsroten commented on #80
Yes, PyNLPIR returns Unicode, not bytes. You can print each Unicode string in the output to see it in the interpreter. Or you can call encode on the Unicode strings to encode them using your preferred encoding.

[2017-07-14 07:56] githwd2016 opened #81 "Partial word returned from NLPIR ParagraphProcess"
I want use pynlpir for word segmentation, but somthing wrong happen:
My code:
    pynlpir.open()
    a = '中国新闻网'
    seg = pynlpir.segment(a, pos_tagging=False)
    print(seg)
    pynlpir.close()
The result:
    ['中国']
It seems that the word '新闻网' is gone.

[2017-07-14 08:00] githwd2016 commented on #81
My operate system is Ubuntu 16.04, and the version of pynlpir is 0.5.2

[2017-07-18 18:16] tsroten commented on #81
@githwd2016 The NLPIR library appears to only be returning one word. It appears to work if you add a period at the end. I'm not sure why that is. You'd have to ask the NLPIR team about that.

[code]

[2017-07-19 14:55] githwd2016 commented on #81
@tsroten Thanks. After add a period, it seems working normally.

[2017-07-26 05:45] KayShen opened #82 "Need to add more POS tag"
as updated in NLPIR: https://github.com/NLPIR-team/NLPIR/blob/5e4f0a6a35906472a8ddd4f8457c13eb03174204/NLPIR%20SDK/DocExtractor/Data/UserDefinedDict.lst

POS tag like 'gtw', 'gwheb', 'grjyy', etc. are not recognized in this version.

For example:
pynlpir.segment(u"接受党和国家领导人接见接受央视北京卫视北京日报新京报世纪英语报等媒体的采访")

[2017-07-31 02:15] tsroten commented on #82
@KayShen Thanks for pointing this out.

For anyone that is interested, I'd be happy to accept a pull request. Here is the file that needs to be updated: https://github.com/tsroten/pynlpir/blob/develop/pynlpir/pos_map.py

[2017-07-31 02:15] #81 closed

[2017-07-31 02:16] #80 closed

[2017-07-31 02:16] #74 closed

[2017-07-31 02:16] #62 closed

[2017-07-31 02:16] #76 closed

[2017-07-31 02:16] #78 closed

[2017-08-05 07:46] zhubinjun opened #83 "wrong segment result after added words by "AddUserWord""
After I added the user words, I get the wrong segment result:

Test Code:
[code]

output: (python 3  WIndows /Ubuntu ):
[code]

[2017-08-05 13:55] tsroten commented on #83
@zhubinjun Thanks for using PyNLPIR!

PyNLPIR does not actually segment the text, it simply outputs whatever NLPIR returns. I'd recommend asking around at NLPIR:
- http://www.nlpir.org/
- https://github.com/NLPIR-team/NLPIR

[2017-08-14 07:15] Yif18 opened #84 "pynlpir.open()报错"
import pynlpir
pynlpir.open()

F:\Anaconda2\python.exe F:/PycharmProjects/yif001/pynlpir.py
Traceback (most recent call last):
  File "F:/PycharmProjects/yif001/pynlpir.py", line 2, in <module>
    import pynlpir
  File "F:\PycharmProjects\yif001\pynlpir.py", line 3, in <module>
    pynlpir.open()
AttributeError: 'module' object has no attribute 'open'

[2017-08-14 13:47] evanhasnoclue opened #85 "I tried as exactly as what tutorial says, but the result...."
Here are what I put and get....
I tried all three encoding types but they all didn't work...
I was so confused about the encoding thing......
Please help me out!

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Python27\lib\site-packages\pynlpir\__init__.py", line 232, in segment
    s = _decode(s)
  File "C:\Python27\lib\site-packages\pynlpir\__init__.py", line

[2017-08-14 13:49] tsroten commented on #85
You probably have a different default encoding in your terminal. Try putting a `u` in front of your string:

[code]

[2017-08-14 13:52] tsroten commented on #84
I'm not familiar with Anaconda. Can you check if pynlpir is actually being imported as a module and what version it is?
[code]

[2017-08-14 13:56] evanhasnoclue commented on #85
@tsroten Thanks. It works!
But my result is all made of codes...
How can I do to make it into Chinese characters? I've tried s.encode('utf8') 'gbk' so much, but didn't work.
Thanks for helping me out!

[(u'NLPIR', u'noun'), (u'\u5206\u8bcd', u'verb'), (u'\u7cfb\u7edf', u'noun'), (u'\u524d\u8eab', u'noun'), (u'\u4e3a', u'preposition'), (u'2000\u5e74', u'time word'), (u'\u53d1\u5e03', u'verb'), (u'\

[2017-08-14 14:02] tsroten commented on #85
The strings in the response are Unicode, so you'll want to `print` them if you want to read them.
[code]

[2017-08-15 09:57] lomizandtyd opened #86 "confused about import user dict."
Hi, @tsroten
-------
我在导入用户定义字典时，碰到了一些不明白的地方。

1. 在某次运行时，我使用pynlpir.nlpir.ImportUserDict导入了自定义的词典。在后续重新执行任务时，在注释了导入自定义词典的代码的情况下，分词结果与导入词典的结果相同。请问pynlpir.nlpir.ImportUserDict是在仅运行时生效吗？还是说永久保存在了pynlpir的目录下？

2. 如果是永久保存，那应该如何删除自定义的词典内容，使用DelUserWord吗？是否会影响到CoreDict呢？

[2017-08-15 09:58] lomizandtyd commented on #86
以及一个额外的问题：
pynlpir，应该如何补充用户自定义词典的pos信息呢？

_____

非常感谢！

[2017-08-16 08:08] lomizandtyd commented on #84
This problem is caused by the name of your python script.

Rename your script, do not use 'pynlpir.py'.

python would load your file before load the pynlpir library.

[2017-08-16 21:41] tsroten commented on #84
@lomizandtyd Nice job noticing that 😄

[2017-09-05 07:57] prigioni opened #89 "part of speech not recognized:'jms'"
当我运行pynlpir.segment(line)时，会出现类似这种提示part of speech not recognized:'jms'，不知道什么意思

i use pynlpir.segment(line),and there is "part of speech not recognized:'jms'".i don't know why?

[2017-09-06 10:19] jianghc724 opened #90 "python3.6 pynlpir.nlpir.ImportUserDict ctypes.ArgumentError"
Hi, tsroten!
I have encountered a problem when using pynlpir. When I am trying to call the function ImportUserDict like this:
`import pynlpir`
`pynlpir.open()`
`pynlpir.nlpir.ImportUserDict('./data/dict.txt')`
Then there will be a type error for it like this:
`ctypes.ArgumentError: argument 1: <class 'TypeError'>: wrong type`
I have found that maybe python2.7 can solve this problem but it is quite

[2017-09-06 15:02] tsroten commented on #90
@jianghc724 Thanks for reporting this! I need to update the documentation. NLPIR requires bytes instead of unicode. So, here are two ways you can do it:
[code]
or
[code]

I'm not sure if NLPIR requires absolute filenames or not, so you might need to experiment with that.

[2017-09-07 04:49] jianghc724 commented on #90
Both of them solved my problem~
@tsroten Thanks!

[2017-09-07 04:49] #90 closed

[2017-09-13 08:59] Gladiator566 opened #91 "pynlpir.nlpir.Init失败"
您好，在使用pynlpir的ctype接口时，使用nlpir.Init(nlpir.PACKAGE_DIR, nlpir.UTF8_CODE)进行初始化，报错如下：TypeError: this function takes at least 3 arguments (2 given)
然后我改用nlpir.Init(nlpir.PACKAGE_DIR, nlpir.UTF8_CODE, '')进行初始化，但报错如下：
ctypes.ArgumentError: argument 1: <class 'TypeError'>: wrong type
我的环境是Windows10，python3.6，请问正确的Init方法应该怎么写呢？
谢谢！

[2017-09-27 08:31] otter668 opened #92 "pynlpir.segment 对非中文分词失败"
比如：纳塔罗阇(泰米尔文: "நடராசர்" or "Kooththan" கூத்தன்) 这句话。从冒号出分开，分别进行分词没有问题。但是完整的一句话直接分词会出现UnicodeDecodeError。调试发现在经过
`result = nlpir.ParagraphProcess(_encode(s), pos_tagging)`
这段代码以后，得到的bytes不能再decode了。原因不得而知。

[2017-09-27 09:10] otter668 commented on #92
再比如以下这些句子，会出现一些分词后很奇怪的问题。

纳塔罗阇(泰米尔文: "நடராசர்" or "Kooththan" கூத்தன்)，又称宇宙之舞，是印度教毁灭之神湿婆的一个状态，祂作为一个舞者去完成祂的神舞以摧毁一个疲惫的宇宙，并为了创造之神梵天启动创世过程而作出准备。

América latina en movimiento. La comunidad negra en Costa Rica Archived January 4, 2013, at the Wayback Machine.‹The template Wayback is being considered for merging.›  (Spanish) (Latin America in Movement. The black community in Costa Rica), by Francis Hut

[2017-10-06 02:51] disadone opened #93 "Cannot Init pynlpir.nlpir"
It seems  that nlpir has some problem in Ananconda/Spyder

[2017-10-06 03:41] tsroten commented on #93
@disadone You need to pass in 3 arguments like the error message says. You're missing the `license_code` argument (try a blank bytes string).

But, rather than calling `Init()`, it's easier to do this:
[code]

[2017-10-06 03:42] #93 closed

[2017-10-06 04:19] disadone commented on #91
same problem,I should write it here
[code]

[2017-10-12 13:13] dashanhust opened #94 "setup.py install error"
![image](https://user-images.githubusercontent.com/6189436/31497425-a2c3f72c-af91-11e7-96a6-3f9526c8af13.png)

when I install pynlpir by using 'python setup.py install', I catch this error, and I'm sure that the network is ok. uh, what would cause this problem?

[2017-10-12 14:11] dashanhust commented on #94
I have solved this by installing `click` package manually.

[2017-10-23 06:06] JinnyYu opened #95 "在Python中使用NLPIR的接口遇到問題"
你好，爬了一下文，還是沒能解決問題，問題出現在213行
出現ctypes.ArgumentError: argument 1: <class 'TypeError'>: wrong type的錯誤訊息
請問是因為我沒有改參數嗎?
環境是win10，python3.6
謝謝您
![q1023](https://user-images.githubusercontent.com/22863363/31873948-10384b22-b7f9-11e7-9602-81828e025354.JPG)

[2017-10-23 13:30] stickjitb opened #96 "Having problem when trying to segment a string '[ / ]'"
When I try to segment a string containing the pattern '[ / ]', an UnboundLocalError has occurred.

No errors when trying to segment '[/]' or '/' or '[ * ]' where * stands for a symbol other than /.

Here are the outputs:

  File "NER_train.py", line 8, in <module>
    s = pynlpir.segment('[ / ]')
  File "D:\Python\lib\site-packages\pynlpir\__init__.py", line 248, in segment
    pos_name = _get_pos

[2017-10-24 09:12] stickjitb opened #97 "Having problem when trying to segment a sentence"
When I try to segment a sentence "〜refrain〜 The songs were inspired by &quot;EVANGELION&quot;", I will get the output "^|^|銆淾|^|refrain|^|^|銆淾|^|The|songs|were|inspired|by|&|quot|;|EVANGELION|" (| stands for the border of words)

If I delete the last word "EVANGELION", I will get the correct output "〜|refrain|〜| |The| |songs| |were| |inspired| |by| |&|quot|;|"

I know this program is mainly used f

[2017-10-26 08:24] cosmichut opened #98 "got a warning? part of speech not recognized: 'gjtgj'"
pynlpir.open()

part of speech not recognized: 'gjtgj'
[('公司', 'noun'), ('主营业务', 'noun'), ('为', 'preposition'), ('地铁', None), ('商业', 'noun'), ('物业', 'noun'), ('的', 'particle'), ('租赁', 'verb'), ('与', 'conjunction'), ('运营', 'verb'), ('管理', 'verb'), ('服务', 'verb'), ('。', 'punctuation mark'), ('公司', 'noun'), ('以', 'preposition'), ('整体', 'noun'), ('租赁', 'verb'), ('的', 'particle'), ('方式', 'noun'), ('取得'

[2017-10-27 01:20] #94 closed

[2017-10-27 01:22] #85 closed

[2017-10-27 01:23] tsroten commented on #97
Yes it is! PyNLPIR doesn't do the segmentation, however. You'd have to check with the [ICTCLAS/NLPIR project](http://ictclas.nlpir.org/) that we use for this.

[2017-10-27 01:23] #97 closed

[2017-10-27 01:23] #84 closed

[2017-10-27 01:24] #83 closed

[2017-10-27 01:25] tsroten commented on #91
You need to use bytes for the first argument to `Init` in Python 3. Here is an example: https://github.com/tsroten/pynlpir/blob/develop/pynlpir/__init__.py#L102

[2017-10-27 13:02] tsroten commented on #98
@cosmichut PyNLPIR is currently missing some of the recently-added part of speech tags:
https://github.com/tsroten/pynlpir/issues/82

[2017-10-27 13:02] #98 closed

[2017-10-28 04:08] ZoeShaw101 opened #99 "License appears to have expired?"
Hi, I'm trying to use the python wrapper, but when running `pynlpir.open()`, the error raised:

`
pynlpir.LicenseError: Your license appears to have expired. Try running "pynlpir update".
`
Actually I don't  known where to run `pynlpir update` ?  In the console ? terminal?

I'm using python2.7, on OSX.
Thanks a lot!

[2017-10-28 13:31] tsroten commented on #99
Hi! Yes, NLPIR requires a license, so I wrote a command-line application to download and install the most recent license so that PyNLPIR is easier to use.

In your terminal simply run "pynlpir update" and it should fetch and install the license.

[2017-10-30 00:19] tsroten commented on #95
你好，试一下用位元组：
[code]

[2017-10-30 00:30] tsroten commented on #96
Hello @stickjitb! Unfortunately, NLPIR (the library we use to segment text), uses `/` as the separator between tokens that it segments. Here is a typical example that NLPIR returns for `hi there`
[code]

You'll notice that it uses spaces between tokens. And, it uses a `/` to separate the token from the part of speech.

In your example, this is returned:
[code]

That breaks the format that the NLPI

[2017-10-30 00:34] tsroten commented on #96
We could get fancy in how we process the tokens from NLPIR by using look-ahead assertions in a regular expression (like only splitting on `/` if it has `[a-z]` immediately following it), but this doesn't seem like a common enough problem or a typical enough text sample to make that worthwhile.

[2017-10-31 02:05] terry2tan commented on #99
@tsroten Hi, I ran "pynlpir update" in the terminal  and it told me "License updated", but when i turned to the code and run the code again, it raised the error:
RuntimeError: NLPIR function 'NLPIR_Init' failed.

my OS : mac Sierra 10.12
python version:  2.7

[2017-10-31 02:37] terry2tan commented on #99
@tsroten I think I found the problem, I checked the log file in the Data folder, it told me "Other thread is under initialization", so i closed all the ipython notebook and restarted the jupyter notebook, it worked!

[2017-11-01 06:38] bear63 opened #100 "多次跑分词结果不一样 python 2.7"
同一批几万句文本，跑了几遍，发现每一遍都有上百个样本分词跟前面的不太一样。如果在每一句话分词前+close,再open 就一样了。这是什么原因

[2017-11-06 08:30] Gladiator566 commented on #91
Thanks a lot tsroten, I settle the problem by
[code]

[2017-11-06 08:30] #91 closed

[2017-11-15 09:36] stickjitb commented on #96
@tsroten OK, I get it. If that is the case, I don't think the NLPIR team will have any solution because you always need a pattern as a separator. Anyway I've reported this issue to them.

Just as you said, the pattern '[ / ]' is not typical enough so maybe I should just take some ad hoc measures if I need to deal with text containing that and no better solutions can be proposed.

[2017-11-17 07:48] dusmart opened #101 "python端不应该提供分词的粒度控制，应该删除POS_MAP"
新华社记者关超宇金拱门报道。
路透社傻逼杜帅在码代码。

新华社/gacn 记者/n 关超宇/nr 金/b 拱门/n 报道/v 。/wj
路透社/gauk 傻/a 逼/v 杜帅/nr 在/p 码/v 代码/n 。/wj

这是使用C++原生接口生成的分词效果，但是使用python的接口，会因为信息/gacn和/gauk无法处理，而返回None和None。 观察到python端自己维护了一个叫POS_MAP的东西，但实际上这个map包含的信息并不详细，有许多分词信息未包含在内，这也是issue 20的bug的原因。所以建议不要提供粒度控制，直接返回C++接口返回的分词情况。

[2017-11-17 07:50] dusmart commented on #101
其中/gacn表示的应该是中国的一个报社，/gauk表示的应该是英国的一个报社。而POS_MAP中并未包含这些信息。

[2017-11-17 09:19] dusmart commented on #101
This is a test to show that our POS_MAP is not enough to handle all pos information.

[code]

1. The POS_MAP in our pynlpir is [计算所汉语词性标记集](http://ictclas.nlpir.org/nlpir/html/readme.htm)，so we should call ```NLPIR_SetPOSmap(ICT_POS_MAP_SECOND);``` in ```__init__.py``` according to the README file in nlpir C++ interface.

2. What's more, our ```Data``` directory is out of date. If we only add the

[2018-01-01 13:49] fleurifei opened #102 "pynlpir命名实体抽取"
请问使用pynlpir进行中文命名实体抽取的具体命令是什么，网上只找到JAVA和C的命令，python接口的命令是什么？？谢谢！

[2018-01-01 16:29] tsroten commented on #102
[code]

[2018-01-21 02:18] linshizhen opened #103 "授权问你"
hello，第一次运行是说要pynlpir update 然后我下载了最新的nlpir.user  更新的data文件下的文件，再次运行时有报错RuntimeError: NLPIR function 'NLPIR_Init' failed. 我百度说还是授权问题？？？？

[2018-01-21 02:31] tsroten commented on #103
@linshizhen , 你不需要下载最新的nlpir.user 更新:
[code]

[2018-01-21 02:58] linshizhen commented on #103
![2](https://user-images.githubusercontent.com/22785605/35190330-ae8cf0de-fe99-11e7-8b4e-1aae5d835edc.jpg)
![1](https://user-images.githubusercontent.com/22785605/35190329-aac926fc-fe99-11e7-897d-4688123fbcf4.jpg)
![3](https://user-images.githubusercontent.com/22785605/35190349-eaf21a5e-fe99-11e7-9601-e732eb27c059.jpg)

这个在Python2.7也是可以用的吧？

[2018-01-26 02:45] saliay opened #104 "RuntimeError: NLPIR function 'NLPIR_Init' failed."
[我在运行程序时总是出现这个东西，我看了之前的问题，也尝试着改了文件权限，但是还是一样的结果，不知该怎么办了

下面是我运行的结果
D:\爬虫\python\Python36\python.exe D:/srtp/分词系统/pynlpir-develop/one.py
Traceback (most recent call last):
  File "D:/srtp/分词系统/pynlpir-develop/one.py", line 21, in <module>
    pynlpir.open()
  File "D:\srtp\分词系统\pynlpir-develop\pynlpir\__init__.py", line 108, in open
    raise RuntimeError("NLPIR function 'NLPIR_Init' failed.")
Runti

[2018-01-30 07:40] dongfangbupang commented on #86
导入自定义词典的时候，词典的位置放在哪里的？我导入用户词典总是错误

[2018-02-06 11:20] Silencezjl opened #105 "漏词"
`import pynlpir`
`pynlpir.open()`
`pynlpir.segment('儿童一岁生日蛋糕')`

The output is [('儿童', 'noun'), ('一', 'numeral'), ('岁', 'classifier'), ('生日', None)] , and it miss '蛋糕' in the output, this must be a bug!!!
输出居然把后面的“蛋糕”两个字吃了，模型喜欢吃蛋糕吗？

[2018-02-20 06:41] zehuichen123 commented on #105
There is something more when I run this funny code:
[code]
It seems that `gms` is a key point to solve this problem :)

[2018-02-22 02:50] Silencezjl commented on #105
yeah，I have the same waring.

[2018-02-23 12:47] tsroten commented on #105
@zehuichen123 @Silencezjl For the `gms` part of speech, see https://github.com/tsroten/pynlpir/issues/82

[2018-02-23 12:59] tsroten commented on #105
@Silencezjl For "蛋糕", NLPIR sometimes does not do well without a punctuation mark. Try adding a period at the end:
[code]

[2018-02-23 12:59] #105 closed

[2018-02-23 12:59] #99 closed

[2018-02-23 13:00] #95 closed

[2018-02-23 13:01] tsroten commented on #89
Marking as a duplicate. See #82.

[2018-02-23 13:01] #89 closed

[2018-03-06 03:57] yuanlily opened #106 "error when call pynlpir.open()"
When I call pynlpir.open(), the following error occur.
python(922,0x7fffaa28c340) malloc: *** error for object 0x7fb15281de00: incorrect checksum for freed object - object was probably modified after being freed.
*** set a breakpoint in malloc_error_break to debug
Abort trap: 6

[2018-03-06 03:59] #106 closed

[2018-03-06 09:56] yuanlily opened #107 "License error"
I have run pynlpir update and it shows license updated. But when I run, I still get the following error.
File "test.py", line 9, in <module>
    pynlpir.open()
  File "/Library/Python/2.7/site-packages/PyNLPIR-0.5.2-py2.7.egg/pynlpir/__init__.py", line 107, in open
    _attempt_to_raise_license_error(data_dir)
  File "/Library/Python/2.7/site-packages/PyNLPIR-0.5.2-py2.7.egg/pynlpir/__init__.py",

[2018-03-06 10:00] yuanlily commented on #107
Solved. I download the license from the nlpir website and replace my NLPIR.user with the new license.

[2018-03-06 10:00] #107 closed

[2018-03-07 02:36] yuanlily commented on #104
试试命令行前加上sudo?

[2018-03-08 01:02] herrtao opened #108 "pynlpir update error"
after i have pip install pynlpir sucessfully, i try to pynlpir update, but i got the following message
error: unable to fetch newest license.

i use python3.

[2018-03-16 11:25] morinokami commented on #108
@herrtao
I also encountered the same issue and found a workaround for this. I'm using Python 3.6 on Mac and here are the steps for Mac users to eliminate the error:

1. Open ```/Applications/Python 3.6```.
2. Double-click "```Install Certificates.command```".

(See: [Mac OSX python ssl.SSLError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:749)](https://stackoverflow.com/ques

[2018-03-26 13:02] zxm1306192988 commented on #86
楼主解决了吗，如何导入用户自定义的字典呢？

[2018-03-30 08:17] lena9017 opened #109 "get_key_words"
About  pynlpir.get_key_words(s,w), can I specify the type of output like jieba does.
For example only get the noun keywords.
"jieba.analyse.extract_tags(s, topK = 10, withWeight = False, allowPOS = ('n'))"

[2018-04-11 08:34] pengshaowei opened #110 "pynlpir 情感分析问题"
打扰了，请问一下pynlpir里怎么实现情感分析，具体命令是什么？
参考网址如下:
https://github.com/NLPIR-team/NLPIR/tree/master/NLPIR%20SDK/SentimentAnalysis
http://ictclas.nlpir.org/nlpir/
http://ictclas.nlpir.org/nlpir/html/qinggan-5.html

[2018-04-11 13:06] tsroten commented on #110
你好！ PyNLPIR没有情感分析，只有分词。

[2018-04-11 13:07] tsroten commented on #110
https://github.com/tsroten/pynlpir/issues/39

[2018-04-11 13:07] #110 closed

[2018-04-25 12:55] hinanmu opened #111 "ctypes.ArgumentError: argument 1: <class 'TypeError'>: wrong type"
I come across this error when I use  `pynlpir.nlpir.ImportUserDict()`

[2018-04-25 12:59] #111 closed

[2018-04-28 14:02] Landrow opened #112 "Add spaces to segment Chinese words in multiple Chinese text files in the same directory"
Hi, I would like to suggest the feature to add spaces to segment Chinese words in multiple Chinese text files in the same directory. Has this feature already been implemented? Thank you!

[2018-05-04 06:41] Johnny4Fun opened #113 "Linux raspberry install pynlpir failed"
When I use this command,
[code]
it seems to be okay. But when I import the package, here is the error message:

But I do find this file in the directory.
Is the package not suitable for Raspberry Pi?

[2018-05-18 07:29] cavities opened #114 "nlpir导入用户字典"
data_csv = pd.DataFrame([[i['word'] +' ' +'n'] for i in list(term_dict)])
data_csv.to_csv('text_dict.csv',sep='\t',index=False,header=False,line_terminator='\n')
import pynlpir
from pynlpir import nlpir
pynlpir.nlpir.ImportUserDict('text_dict.csv')
-------------------------------------------------------
报错  ArgumentError: argument 1: <class 'TypeError'>: wrong type
那到底要什么样格式 才能通过

[2018-05-20 18:42] tsroten commented on #114
`b'text_dict.csv'`

[code]

[2018-05-20 19:05] tsroten commented on #113
Hello! It is probably related to `sudo`. If you used `sudo` to install pynlpir, then you might need to use `sudo python` when running your script.

Or, you could update the permissions/owner on the files directly.

[2018-05-28 05:31] guoweihua1982 opened #115 "繁体的分词"
貌似现在对繁体字的分词没有很好地支持。
请问是我的做法不对，还是现在只支持简体字分词？

 比如下面的例子，简体字的地方等都能很好地分词，变成繁体字就被拆分成一个一个汉字了。
[code]

[2018-07-17 07:42] YiliMa commented on #108
I have the same problem in  windows system, do u have any idea? Thanks.

[2018-07-21 09:19] getmr commented on #57
In [12]: pynlpir.nlpir.ImportUserDict("/Users/zhangjintao/Desktop/随笔/中文分词比较/httpcws_dict.txt")
---------------------------------------------------------------------------
ArgumentError                             Traceback (most recent call last)
<ipython-input-12-c1d93aa332c2> in <module>()
----> 1 pynlpir.nlpir.ImportUserDict("/Users/zhangjintao/Desktop/随笔/中文分词比较/httpcws_dict.txt")

ArgumentErro

[2018-07-30 09:07] sajidnaeem commented on #28
hi brother i am unable to install it using pip..

Traceback (most recent call last):
  File "E:\anaconda\lib\site-packages\pip\_vendor\urllib3\response.py", line 302, in _error_catcher
    yield
  File "E:\anaconda\lib\site-packages\pip\_vendor\urllib3\response.py", line 384, in read
    data = self._fp.read(amt)

[2018-07-31 01:45] tsroten commented on #28
@sajidnaeem Hello! I'm not able to see the actual error message and full trackback in your post. Can you try copying/pasting again? Thanks!

[2018-08-06 06:39] sajidnaeem commented on #28
@tsroten  thanks brother i fixed it....

[2018-08-26 01:14] #114 closed

[2018-09-26 12:10] bgerazov opened #116 "[SOLVED] Again "RuntimeError: NLPIR function 'NLPIR_Init' failed.""
Everything was fine last time I used it, but today it gave me a `LicenseError` and I had to update using `pynlpir update` which said that the license was updated. The problem is that now it's not working. I get
[code]
Can you help me?

Thanks!

[2018-09-30 04:31] tsroten commented on #116
Hello @bgerazov! Typically when NLPIR fails to initialize it will log its errors to a file in its data directory.

In your case, you probably want to look for any `.err` or `.log` files in `~/miniconda3/lib/python3.6/site-packages/pynlpir/Data`. They are usually named with a date, like this: `20180926.err`.

Hopefully the content of those log files will help us figure out what's going on!

[2018-10-05 10:16] bgerazov commented on #116
Hi @tsroten, thanks for your reply!

Indeed the err file reads:
``` [2018-09-26 13:56:28]	~/miniconda3/lib/python3.6/site-packages/pynlpir/Data/NLPIR.user Not valid license or your license expired! Please feel free to contact pipy_zhang@msn.com! ```

Ok - the problem was that I needed to re-import pynlpir for it to register the change ...

Thanks for making pynlpir and keeping it up and running!

[2018-10-05 10:17] #116 closed

[2018-10-15 05:58] BLKSerene opened #117 "A Question About Licensing"
Hi, I'm trying to use PyNLPIR in my own GPL'ed project (since I use several GPL'ed libraries, I have to license my project under GPL).
So, my question is: Am I allowed to use PyNlPIR licensed under MIT which is a wrapper around NLPIR/ICTCLAS that is closed-source but free to use, though you have to update the licenses periodically in my GPL'ed project without violating GPLv3 license?

[2018-10-16 07:12] Jackie127 opened #118 "加载用户自定义词典"
如何加载用户自定义的词典或者如何修改默认的词典列表？

[2018-10-19 01:54] tsroten commented on #118
[NLPIR说](https://github.com/NLPIR-team/NLPIR/blob/master/NLPIR%20SDK/NLPIR-ICTCLAS/doc/NLPIR-ICTCLAS%E5%88%86%E8%AF%8D%E7%B3%BB%E7%BB%9F%E5%BC%80%E5%8F%91%E6%89%8B%E5%86%8C2017%E7%89%88%20.pdf)：
[code]

例子:
- https://github.com/NLPIR-team/NLPIR/blob/master/NLPIR%20SDK/NLPIR-ICTCLAS/projects/ICTCLAS_Java/Data/UserDefinedDict.lst
- https://github.com/NLPIR-team/NLPIR/blob/a632f29b2452195d338e8e5e69a

[2018-12-04 11:00] piekey1994 opened #120 "分词结果不一致"
我有个文件，逐行进行分词，刚好第1595个句子分词后的list长度是48个词

如果我直接读第1595个句子进行分词，长度就是50个词

打印彼此的结果，会发现直接对这个句子进行分词的话，有个人名莱迪格会被分词成三个字。但逐行逐行的进行分词，到那一句的时候，莱迪格就不会被拆分成三个字，所以会少两个词。

为什么分词的结果会有出入呢

[2019-03-08 02:55] zhangsanqiang opened #121 "I find Some Bugs"
[code]

part of speech not recognized: 'gjtgj'
---------------------------------------------------------------------------

**### TypeError: can only join an iterable**

[code]
part of speech not recognized: 'gjtgj'

**### 船 	 None**

[2019-03-08 03:06] zhangsanqiang commented on #121
i know some  words are not in the dicts.
So the segment result of the tag is 'None'
But why their tags can't be iterate.
i think  the OOV(Out of Vocabulary) also need a tag. And allow users to add in the dicts by the right way.

[2019-03-14 06:34] My-captain commented on #118
您后来解决了吗

[2019-04-17 08:03] pover-yang opened #122 "license问题，更新后仍然显示证书过期"
首先运行报错：
pynlpir.LicenseError: Your license appears to have expired. Try running "pynlpir update".
在正确环境下运行了 ：pynlpir update 同样不行
在GitHub上下载最新的 license 替换到正确文件目录下 同样不行

[2019-04-17 08:22] wmchappy commented on #122
我的也是这样

[2019-04-24 09:59] Weikoi commented on #122
我刚装完库第一次运行显示证书过期报错，在pycharm自带的terminal运行pynlpir update后，问题解决。

[2019-05-22 15:50] flyying53 opened #123 "OSError"
When I run the following code

import pynlpir
pynlpir.open
s='i love you'
pynlpir.segment(s)

it shows : OSError: exception: access violation reading 0x000000000000000C

How to fix?

Thanks a lot.

[2019-06-24 03:28] Christiannov opened #124 "BUG: Missing a word in the result of segmentation"
Hello,
I found that **pynlpir** has a bug when dealing with the sentence "本报编辑部评出2000年国内十大新闻". The following code block shows that we missed the word "新闻" in the segmentation result of the sentence.

[code]

I don't understand why this bug occurs. Do you have any idea? Thanks!

[2019-06-24 04:25] tsroten commented on #124
Hello @Christiannov! So, PyNLPIR doesn't actually handle the segmentation itself, it uses [NLPIR](http://ictclas.nlpir.org/) behind the scenes. I've found that NLPIR is pretty picky with regards to grammar. In many cases it appears to leave out words if the sentence is missing punctuation marks.

Try adding a period (full stop) at the end of your string and see if that helps.

I'd also suggest rep

[2019-06-24 05:39] Christiannov commented on #124
I've tried adding a period at the end of the string and the bug no longer occurs.

In addition, I looked at the repository of [NLPIR](https://github.com/NLPIR-team/NLPIR) and similar issues have already been mentioned. But it seems that the contributor has not given a better solution then adding a period. Fortunately, this bug is not a big problem for me at present.

Anyway, thank you very much @t

[2019-06-24 05:39] #124 closed

[2019-08-21 02:53] tsroten commented on #82
Some of the new tags were added to PyNLPIR recently. Also, there is a [new `pos_names` option](https://pynlpir.readthedocs.io/en/latest/api.html#pynlpir.segment): `raw`. This will simply return whatever NLPIR provides as the part of speech tag. This is a workaround for any other tags that might be missing.

Also, like before, you can still pass your own part of speech mapping in with any missing t

[2019-08-21 02:53] #82 closed

[2019-08-28 12:38] #117 closed

[2019-09-09 13:06] Windancer94 opened #127 "part of speech not recognized"
分词过程出现词性无法识别问题，加载自定义辞典后这一情况出现的更频繁，请问是为什么呢？

[2019-10-03 14:00] lalaler opened #128 ""print pynlpir.nlpir.GetNewWords" can not work"
`import pynlpir
pynlpir.open(encoding="utf8")
s = '''别动不动就说手机致癌，并没有证据支持】人们普遍认为手机释放的高频辐射会增加癌症尤其是脑癌的发生率，科学家因此癌关系的调查与研究，发现二者之间并没有必然的联系，而且近些年脑癌的发病率反倒下降了，的是非电高辐射，这通常不会破坏DNA，因此手机不会引发脑癌。..'''
print pynlpir.nlpir.GetNewWords(s, 50, False)`
can not run in Jupyter Notebook
PS: install pynlpir by "pip install pynlpir"

[2019-10-05 08:40] #128 closed

[2019-10-05 08:41] lalaler commented on #128
import pynlpir
pynlpir.open(encoding='utf8')
s = '别动不动就说手机致癌，并没有证据支持。人们普遍认为手机释放的高频辐射会增加癌症尤其是脑癌的发生率，科学家因此做了手机与脑癌关系的调查与研究，发现二者之间并没有必然的联系，而且近些年脑癌的发病率反倒下降了，其实手机释放的是非电高辐射，这通常不会破坏DNA，因此手机不会引发脑癌'
r = pynlpir.nlpir.GetNewWords(s.encode('utf-8'), 50, False)
#encode('utf-8'):python与传参到c接口编码需要转一下，所有字符串前面加一个b或者转utf-8就可以了
print (r)
已解决

[2019-10-05 08:46] lalaler opened #129 "how to batch processing documents?"
Code like 'pynlpir.nlpir.FileProcess' and others just can process one txt in a time, how to process many txts in one time? I mean which code can do this?

[2019-10-25 02:53] lalaler opened #130 "转换文档时出现“授权非法的问题”"
![image](https://user-images.githubusercontent.com/55943029/67539693-8d639b80-f715-11e9-8406-f59c5d5c3d44.png)
为什么在转换文档的时候出现这个问题？

[2019-11-13 07:08] balcony021 opened #131 "ctypes.ArgumentError: and Init can't work"
.

Traceback (most recent call last):
  File "<pyshell#1>", line 1, in <module>
    pynlpir.nlpir.Init(nlpir.PACKAGE_DIR, nlpir.UTF8_CODE, None)
NameError: name 'nlpir' is not defined

Traceback (most recent call last):
  File "<pyshell#3>", line 1, in <module>
    pynlpir.nlpir.Init(nlpir.PACKAGE_DIR, nlpir.UTF8_CODE, None)
ctypes.ArgumentError: argument 1: <class 'TypeError'>: wrong type

someti

[2020-01-05 12:41] lmobot opened #132 "为什么会出现某些短语分词时部分内容丢失？"
[('铁', 'noun')]

后面的内容就不见了

[2020-06-02 09:31] ArlanCooper opened #133 "OSError: exception: access violation reading 0x000000000000000C"
调用如下命令:
s = '海洋是如何形成的'
segments = pynlpir.segment(s, pos_names='all')

报这样的错误:
OSError: exception: access violation reading 0x000000000000000C

[2020-07-21 06:06] wangbyby commented on #132
我也遇到了同样的问题

[2020-07-21 06:09] wangbyby commented on #133
代码最开始记得加上``pynlpir.open()``,
最后加上``pynlpir.close()``

[2020-07-21 07:01] ArlanCooper commented on #133
好的，谢谢

[2020-07-21 07:01] #133 closed

[2020-07-21 07:29] wangbyby commented on #123
use``pynlpir.open()``?

[2020-08-06 02:00] yitingss commented on #132
我也是

[2020-08-06 02:05] yitingss commented on #132
可以参考一下issue：https://github.com/tsroten/pynlpir/issues/124，应该是nlpir自带的bug，尝试在最后加上句号，问题可以解决

[2022-02-23 07:21] duckyduck opened #136 "大佬请问可以支持Apple的M1芯片嘛？"
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.10/bin/pynlpir", line 5, in <module>
    from pynlpir.cli import cli
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pynlpir/__init__.py", line 26, in <module>
    from . import nlpir, pos_map
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/si

[2022-03-24 07:30] joenahm commented on #118
@My-captain  @Jackie127
这个问题同另一个issue中提到的一样，都是没有加句号导致的。
我添加了相同的词表后，结果为：
[code]
参考: #132

[2022-03-24 07:40] joenahm commented on #109
yes你可以，但又不完全可以，就是最后的通过词性过滤 `pynlpir` 是没有的，不过你可以自己手动过滤
以下内容来自pynlpir的文档（[https://pynlpir.readthedocs.io/en/latest/api.html#pynlpir.get_key_words](https://pynlpir.readthedocs.io/en/latest/api.html#pynlpir.get_key_words)）：

**pynlpir.get_key_words(s, max_words=50, weighted=False)**

Determines key words in Chinese text s.

The key words are returned in a list.
If weighted is True, then each list item

[2022-03-24 07:43] joenahm commented on #102
可以试试哈工大的 `ltp`
参考: [http://ltp.ai/docs/quickstart.html#id8](http://ltp.ai/docs/quickstart.html#id8)

[2022-05-01 11:36] OmarFaruqJibon opened #137 "pynlpir update error"
pynlpir : The term 'pynlpir' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path
was included, verify that the path is correct and try again.
At line:1 char:1
+ pynlpir update

How to solve the problem?

[2022-06-30 03:51] oushiei120 opened #138 "试了一上午原来不支持arm芯片的mac os"

[2022-11-14 16:38] Sophie-2000 opened #139 "词汇词性的优先级是用户词典>分词判断吗？"
因为想要分词比较准确，所以用户词典里面加了很多词汇，这些词汇的词性都被设定为uw，但是这些词汇之前有些是有词性的，我想要先判断用户词典中的词汇是否有词性，若没有再将其设定为uw，可是我没有找到直接判断词汇词性的函数？
我在data文件夹里面看到词性判断错误的提示，可是找不到位置改正，请问可以提供一个解决方案吗？
文件内容如下：
[2022-11-15 00:26:54]	哀 ag->uw
[2022-11-15 00:26:54]	哀愁 a->uw
[2022-11-15 00:26:54]	哀怜 v->uw
[2022-11-15 00:26:54]	哀戚 a->uw
[2022-11-15 00:26:54]	哀伤 an->uw
[2022-11-15 00:26:54]	哀痛 a->uw
[2022-11-15 00:26:54]	哀怨 a->uw
[2022-11-15 00:26